<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/images/LogoMobile.png">
  <title>Sửa thông tin kính mắt</title>
  <link rel="stylesheet" th:href="@{/css/application.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="bg-slate-200">
  <div th:replace="~{fragments/sidebar :: sidebar}"></div>
  <div class="p-4 w-full h-screen pl-16">
    <h1 class="font-bold text-center my-2">Sửa thông tin</h1>

    <div class="w-full mx-auto flex flex-col gap-4 bg-white rounded-md shadow-sm text-sm p-5 mb-6 border border-slate-300">
      <form action="/admin/kinhmat/deleteimage" method="post" th:each="img : ${images}"
      class="h-32 w-32 relative m-2 overflow-visible">
        <img th:src="${img.getUrl()}" th:alt="${img.getTenanh()}" class="w-32 h-32 object-cover">
        <input type="number" name="id" class="hidden" th:value="${img.getMaanh()}">
        <button class="p-1 rounded bg-red-500 absolute -top-1 -right-1">
          <img src="/svg/delete.svg" alt="delete" class="w-4 h-4">
        </button>
      </form>
    </div>

    <form class="w-full mx-auto flex flex-col gap-4 bg-white rounded-md shadow-sm text-sm p-5 mb-6 border border-slate-300" action="/admin/kinhmat/uploadimage" method="post" enctype="multipart/form-data">
      <div>
        <section class="flex items-center gap-2 mb-4">
          <label class="block font-medium mb-1" for="file">Thêm ảnh mới:</label>
          <input class="p-2 w-max bg-blue-500 rounded block text-white text-xs" type="submit" value="Tải ảnh mới" />
        </section>
        <input type="hidden" name="id" th:value="${kinhMat.maKinhMat}" />
        <input type="file" id="file" name="file" class="block px-3 py-2 w-full border border-dashed border-slate-300 rounded"
          multiple="multiple" accept="image/*" onchange="previewImages(event)" required>
      </div>

      <div id="preview-container" class="flex flex-wrap">
        <!-- Images preview will be shown here -->
      </div>
    </form>

    <form class="w-full mx-auto flex flex-col gap-4 bg-white rounded-md shadow-sm text-sm p-5 mb-6 border border-slate-300" th:object="${kinhMat}" th:action="@{/admin/kinhmat/update}" action="#" method="post">
      <section class="grid lg:grid-cols-3 grid-cols-1 gap-3">
        <div>
          <label class="block font-medium mb-1" th:for="maKinhMat">Mã kính mắt</label>
          <input readonly class="block px-3 py-2 w-full border border-slate-300 rounded" type="text"
            th:field="*{maKinhMat}" />
        </div>
        <div>
          <label class="block font-medium mb-1" th:for="tenKinhMat">Tên sản phẩm</label>
          <input class="block px-3 py-2 w-full border border-slate-300 rounded" type="text" th:field="*{tenKinhMat}"
            placeholder="Tên sản phẩm" />
        </div>
        <div>
          <label class="block font-medium mb-1" th:for="giaTien">Giá tiền</label>
          <input class="block px-3 py-2 w-full border border-slate-300 rounded" type="number" th:field="*{giaTien}"
            placeholder="3.000.000" />
        </div>
      </section>

      <input type="hidden" th:field="*{soLuong}" />

      <section class="grid lg:grid-cols-2 grid-cols-1 gap-3">
        <div>
          <label class="block font-medium mb-1" th:for="rongMat">Rộng mắt</label>
          <input class="block px-3 py-2 w-full border border-slate-300 rounded" type="number" th:field="*{rongMat}"
            placeholder="10" />
        </div>
        <div>
          <label class="block font-medium mb-1" th:for="songMui">Sống mũi</label>
          <input class="block px-3 py-2 w-full border border-slate-300 rounded" type="number" th:field="*{songMui}"
            placeholder="10" />
        </div>
        <div>
          <label class="block font-medium mb-1" th:for="daiGong">Dài gọng</label>
          <input class="block px-3 py-2 w-full border border-slate-300 rounded" type="number" th:field="*{daiGong}"
            placeholder="10" />
        </div>
        <div>
          <label class="block font-medium mb-1" th:for="traGop">Trả góp</label>
          <input class="block px-3 py-2 w-full border border-slate-300 rounded" type="number" th:field="*{traGop}"
          placeholder="0%" />
        </div>
      </section>
      
      <section class="grid lg:grid-cols-2 grid-cols-1 gap-3">
        <div>
          <label class="block font-medium mb-1" th:for="tinhNang">Tính năng</label>
          <textarea class="block px-3 py-2 w-full border border-slate-300 rounded" rows="5"
            th:field="*{tinhNang}"></textarea>
        </div>
        <div>
          <label class="block font-medium mb-1" th:for="thongTin">Thông tin</label>
          <textarea class="block px-3 py-2 w-full border border-slate-300 rounded" rows="5"
            th:field="*{thongTin}"></textarea>
        </div>
      </section>
      

      <input class="hidden" type="text" id="datePicker" th:field="*{NGAYTHEM}" />
      <input class="hidden" type="text" th:field="*{kichhoat}" />
      <input class="hidden" type="text" th:field="*{soluongdatmua}" />

      <button type="submit" class="p-2 w-max bg-green-500 rounded block text-white">Lưu</button>
    </form>
  </div>
  <script>
    function previewImages(event) {
      var files = event.target.files;
      var container = document.getElementById('preview-container');
      container.innerHTML = '';
      var p = document.createElement("p");
      p.textContent = "Ảnh mới: ";
      container.append(p);
      for (var i = 0; i < files.length; i++) {
        var reader = new FileReader();
        reader.onload = function (e) {
          var img = document.createElement('img');
          img.src = e.target.result;
          img.classList.add('w-32', 'h-32', 'object-cover', 'm-2');
          container.appendChild(img);
        };
        reader.readAsDataURL(files[i]);
      }
    }
  </script>
  <script th:inline="javascript">
    const errorMessage = /*[[${errorMessage}]]*/ '';
    if (errorMessage) {
      showNotification(
        {
          title: "Lỗi",
          message: errorMessage,
          type: "error"
        }
      );
    }
  </script>
</body>

</html>