<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
  <meta charset="UTF-8">
  <title>Sửa kính mắt</title>
  <link rel="stylesheet" th:href="@{/css/application.css}">
</head>

<body>
  <div class="col-3"></div>
  <div class="container col-6">
    <h1>Sửa thông tin</h1>
    <div class="col-md-auto">
      <form th:object="${kinhMat}" th:action="@{/admin/kinhmat/save}" action="#" method="post">
        <div>
          <label th:text="Mã" th:for="maKinhMat"></label>
          <input type="number" readonly th:field="*{maKinhMat}" class="form-control" placeholder="Mã kính mắt" />
        </div>

        <div style="clear: both; display: block; height: 10px"></div>
        <div>
          <label th:text="Tên sản phẩm" th:for="tenSanPham"></label>
          <input type="text" th:field="*{tenSanPham}" class="form-control" placeholder="Tên sản phẩm" />
        </div>

        <div style="clear: both; display: block; height: 10px"></div>
        <div>
          <label th:text="Số lượng" th:for="soLuong"></label>
          <input type="number" th:field="*{soLuong}" class="form-control" placeholder="0" />
        </div>

        <div style="clear: both; display: block; height: 10px"></div>
        <div>
          <label th:text="Giá tiền" th:for="giaTien"></label>
          <input type="number" th:field="*{giaTien}" class="form-control" placeholder="3.000.000" />
        </div>
        
        <div style="clear: both; display: block; height: 10px"></div>
        <div>
          <label th:text="Rộng mắt" th:for="rongMat"></label>
          <input type="number" th:field="*{rongMat}" class="form-control" placeholder="10" />
        </div>

        <div style="clear: both; display: block; height: 10px"></div>
        <div>
          <label th:text="Sống mũi" th:for="songMui"></label>
          <input type="number" th:field="*{songMui}" class="form-control" placeholder="10" />
        </div>

        <div style="clear: both; display: block; height: 10px"></div>
        <div>
          <label th:text="Dài gọng" th:for="daiGong"></label>
          <input type="number" th:field="*{daiGong}" class="form-control" placeholder="10" />
        </div>

        <div style="clear: both; display: block; height: 10px"></div>
        <div>
          <label th:text="Tính năng" th:for="tinhNang"></label>
          <textarea rows="5" th:field="*{tinhNang}" class="form-control"></textarea>
        </div>

        <div style="clear: both; display: block; height: 10px"></div>
        <div>
          <label th:text="Trả góp" th:for="traGop"></label>
          <input type="number" th:field="*{traGop}" class="form-control" placeholder="0%" />
        </div>

        <div style="clear: both; display: block; height: 10px"></div>
        <div>
          <label th:text="Thông tin" th:for="thongTin"></label>
          <textarea rows="20" th:field="*{thongTin}" class="form-control"></textarea>
        </div>

        <div style="clear: both; display: block; height: 10px"></div>
        <input type="submit" class="btn btn-success" value="Save" />
      </form>
    </div>
  </div>
</body>

</html>