<!DOCTYPE html>  
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">  
<head>  
    <title>Quản lý kính mắt</title>  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
    <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}"/>  
</head>  
<body>  
<div class="col-3"></div>  
<div class="container col-6">  
    <h1>Quản lý kính mắt</h1>  
    <table class="table table-active">  
        <tr>  
            <th>Mã</th>  
            <th>Tên sản phẩm</th>  
            <th>Giá tiền</th>  
            <th>Số lượng</th>  
            <th>Rộng mắt</th>  
            <th>Sống mũi</th>  
            <th>Dài gọng</th>  
            <th>Tính năng</th>  
            <th>Trả góp</th>  
            <th>Thông tin</th>  
            <th>Ngày thêm</th>  
        </tr>  
        <tr th:each="kinhMat : ${kinhMats}">  
            <td th:text="${kinhMat.maKinhMat}"></td>  
            <td th:text="${kinhMat.tenSanPham}"></td>  
            <td th:text="${kinhMat.giaTien}"></td>  
            <td th:text="${kinhMat.soLuong}"></td>  
            <td th:text="${kinhMat.rongMat}"></td>  
            <td th:text="${kinhMat.songMui}"></td>  
            <td th:text="${kinhMat.daiGong}"></td>  
            <td th:text="${kinhMat.tinhNang}"></td>  
            <td th:text="${kinhMat.traGop}"></td>  
            <td th:text="${kinhMat.thongTin}"></td>  
            <td th:text="${kinhMat.ngayThem}"></td>  
            <td>  
                <a th:href="@{/admin/kinhmat/edit?id={id}(id=${kinhMat.maKinhMat})}" class="btn btn-primary">Sửa</a>  
                <a th:href="@{/admin/kinhmat/delete?id={id}(id=${kinhMat.maKinhMat})}" class="btn btn-danger">Xóa</a>  
            </td>  
        </tr>  
    </table>  
    <a href="/admin/kinhmat/add" class="btn btn-success">Thêm mới</a>  
</div>  
</body>  
</html>