<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
  <meta charset="UTF-8" />
  <title>Xuất kho</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/images/LogoMobile.png">
  <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}" />
</head>

<body>
  <div th:replace="~{fragments/sidebar :: sidebar}"></div>
  <div class="p-4 w-max bg-slate-50 shadow-sm rounded-lg mx-auto">
    <h1 class="font-bold text-center my-2">Xuất kho</h1>

    <form th:object="${kinhMat}" th:action="@{/admin/kinhMat/xuat}" action="#" method="post">
      <input type="hidden" th:value="${kinhMat.maKinhMat}" name="id" />
      <p class="block font-medium text-lg" th:text="${'Mã: ' + kinhMat.maKinhMat + ' - ' + kinhMat.tenKinhMat}"></p>
      <div style="clear: both; display: block; height: 10px"></div>

      <div>
        <label class="block font-medium" th:for="soluong">Số lượng</label>
        <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="number"
          name="soLuong" placeholder="1" required/>
      </div>
      <div style="clear: both; display: block; height: 10px"></div>
      <div>
        <label class="block font-medium" th:for="giatien">Chi phí</label>
        <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="number"
          name="giaTien" placeholder="1000" required/>
      </div>
      <div style="clear: both; display: block; height: 10px"></div>

      <div>
        <label class="block font-medium" th:for="thongtin">Thông tin nhập</label>
        <textarea class="border border-black rounded p-2 w-[80vw] min-w-[280px]" rows="5"
          placeholder="Xuất cho đơn hàng mã: 00"
          name="thongTinXuat" required></textarea>
      </div>

      <div style="clear: both; display: block; height: 10px"></div>
      <input class="border p-2 w-max bg-green-500 rounded block mt-4 text-white" type="submit"
        value="Nhập" />
    </form>
  </div>
  <script src="/js/notification.js"></script>
  <script th:inline="javascript">
    const errorMessage = /*[[${errorMessage}]]*/ '';
    if (errorMessage) {
      showNotification(
        {
          title: "Lỗi",
          message: errorMessage,
          type: "error"
        }
      );
    }
  </script>
</body>

</html>