<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/LogoMobile.png">
    <title>Thêm tài khoản</title>
    <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}" />
</head>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="p-4 w-max bg-slate-50 shadow-sm rounded-lg mx-auto">
        <h1 class="font-bold text-center my-2">Tài khoản mới</h1>
        <div>
            <div id="error" class="p-2 bg-red-500 rounded-md text-white hover:cursor-pointer" th:if="${errorMessage}"
                th:text="${errorMessage}"></div>
            <form th:object="${taikhoan}" th:action="@{/admin/khachhang/add}" action="#" method="post">
                <div>
                    <label class="block font-medium" th:for="username">Email</label>
                    <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="text"
                        th:field="*{username}" placeholder="user@email.com" required />
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <div>
                    <label class="block font-medium" th:for="password">Mật khẩu</label>
                    <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="password"
                        th:field="*{password}" placeholder="Password" required />
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <div>
                    <label class="block font-medium" th:for="hoten">Họ tên</label>
                    <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="text"
                        th:field="*{hoten}" placeholder="Họ tên" required />
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <div>
                    <label class="block font-medium" th:for="sodienthoai">Số điện thoại</label>
                    <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="text"
                        th:field="*{sodienthoai}" placeholder="Số điện thoại" required onkeypress='validate(event)' />
                </div>

                <div style="clear: both; display: block; height: 10px"></div>
                <div>
                    <label class="block font-medium" th:for="diachi">Địa chỉ</label>
                    <input type="hidden" th:field="*{diachi}" id="diachi" />
                    <div class="flex lg:flex-row flex-col items-center gap-2">
                        <select id="provinceSelect" class="border border-black rounded block p-2 w-full"
                            onchange="populateDistricts()" required>
                            <option value="">Chọn tỉnh/thành phố</option>
                        </select>
                        <select id="districtSelect" class="border border-black rounded block p-2 w-full"
                            onchange="populateWards()" required>
                            <option value="">Chọn quận/huyện</option>
                        </select>
                        <select id="wardSelect" class="border border-black rounded block p-2 w-full"
                            onchange="updateAddress()" required>
                            <option value="">Chọn phường/xã</option>
                        </select>
                        <input id="extraAddress" placeholder="Địa chỉ nhà"
                            class="border border-black rounded block p-2 w-full" type="text" oninput="updateAddress()"
                            required />
                    </div>
                </div>

                <div style="clear: both; display: block; height: 10px"></div>
                <div>
                    <label class="block font-medium" th:for="enabled">Xác thực email</label>
                    <select class="border border-black rounded block p-2 w-full" name="enabled" id="enabled"
                        th:field="*{enabled}">
                        <option value="0" selected>Chưa xác thực</option>
                        <option value="1">Đã xác thực</option>
                    </select>
                </div>
                <input class="hidden" value="ROLE_KHACHHANG" type="text" name="loai_tai_khoan" />

                <div style="clear: both; display: block; height: 10px"></div>
                <input class="p-2 w-max bg-green-500 rounded block mt-4 text-white" type="submit" value="Thêm" />
            </form>
        </div>
    </div>
    <script src="/js/address.js"></script>
    <script>
        const err = document.getElementById("error");
        err.addEventListener("click", () => {
            err.classList.add("hidden");
        })

        function validate(evt) {
            if (evt.key == "Backspace" || evt.key == "Del") return true;

            var theEvent = evt || window.event;

            // Handle paste
            if (theEvent.type === 'paste') {
                key = event.clipboardData.getData('text/plain');
            } else {
                // Handle key press
                var key = theEvent.keyCode || theEvent.which;
                key = String.fromCharCode(key);
            }
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }
    </script>
    <script th:inline="javascript">
        const provinceValue = /*[[${province}]]*/ '';
        const districtValue = /*[[${district}]]*/ '';
        const wardValue = /*[[${ward}]]*/ '';
        const extraAddressValue = /*[[${extra}]]*/ '';

        function fillAddress() {
            if (provinceValue && districtValue && wardValue) {
                const province = document.getElementById("provinceSelect");
                const district = document.getElementById("districtSelect");
                const ward = document.getElementById("wardSelect");
                const extraAddress = document.getElementById("extraAddress");

                province.value = provinceValue;
                populateDistricts();
                district.value = districtValue;
                populateWards();
                ward.value = wardValue;
                extraAddress.value = extraAddressValue;
                updateAddress();
            }
        }
        fillAddress();
    </script>
    <script src="/js/notification.js"></script>
    <script th:inline="javascript">
        const errorMessage = /*[[${errorMessage}]]*/ '';
        if (errorMessage) {
            showNotification(
                {
                    title: "Lỗi",
                    message: errorMessage,
                    type: "error"
                }
            );
        }
    </script>
</body>

</html>