<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/LogoMobile.png">
    <title>Thêm tài khoản</title>
    <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}" />
</head>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="p-4 w-max bg-slate-50 shadow-sm rounded-lg mx-auto">
        <h1 class="font-bold text-center my-2">Tài khoản mới</h1>
        <div>
            <div id="error" class="p-2 bg-red-500 rounded-md text-white hover:cursor-pointer" th:if="${errorMessage}"
                th:text="${errorMessage}"></div>
            <form th:object="${taikhoan}" th:action="@{/admin/accounts/add}" action="#" method="post">
                <div>
                    <label class="block font-medium" th:for="username">Username</label>
                    <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="text"
                        th:field="*{username}" placeholder="Username" />
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <div>
                    <label class="block font-medium" th:for="password">Password</label>
                    <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="password"
                        th:field="*{password}" placeholder="Password" />
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <div>
                    <label class="block font-medium" th:for="hoten">Họ tên</label>
                    <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="text"
                        th:field="*{hoten}" placeholder="Họ tên" />
                </div>
                <div style="clear: both; display: block; height: 10px"></div>

                <div>
                    <label class="block font-medium" th:for="loai_tai_khoan">Vai trò</label>
                    <select name="loai_tai_khoan" id="loai_tai_khoan" class="border border-black rounded block p-2 w-[80vw] min-w-[280px]">
                        <option value="ROLE_NHANVIEN" selected>Nhân viên</option>
                        <option value="ROLE_QUANLY">Quản lý</option>
                    </select>
                </div>
                <div style="clear: both; display: block; height: 10px"></div>

                <input class="hidden" value="ROLE_QUANTRI" type="text" name="diachi" />
                <input class="hidden" value="1" type="number" name="enabled" />

                <input class="p-2 w-max bg-green-500 rounded block mt-4 text-white" type="submit" value="Thêm" />
            </form>
        </div>
    </div>
    <script>
        const err = document.getElementById("error");
        err.addEventListener("click", () => {
            err.classList.add("hidden");
        })
    </script>
    <script th:inline="javascript">
        const errorMessage = /*[[${errorMessage}]]*/ '';
        if (errorMessage) {
            showNotification(
                {
                    title: "Lỗi",
                    message: errorMessage,
                    type: "error"
                }
            );
        }
    </script>
</body>

</html>