<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/images/LogoMobile.png">
  <title>Sửa thông tin</title>
  <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}" />
</head>

<body class="bg-slate-200">
  <div th:replace="~{fragments/sidebar :: sidebar}"></div>
  <div class="p-4 w-full h-screen pl-16">
    <h1 class="font-bold text-center my-2">Sửa thông tin</h1>
    <form th:object="${taikhoan}" th:action="@{/admin/accounts/save}" action="#" method="post"
      class="w-full mx-auto flex flex-col gap-4 bg-white rounded-md shadow-sm text-sm p-5 mb-6 border border-slate-300">
      <section class="grid lg:grid-cols-2 grid-cols-1 gap-3">
        <div>
          <label class="block font-medium mb-1" th:for="username">Username</label>
          <input class="block px-3 py-2 w-full border border-slate-300 rounded" type="text"
            th:field="*{username}" readonly />
        </div>
        <div>
          <label class="block font-medium mb-1" th:for="password">Password</label>
          <input class="block px-3 py-2 w-full border border-slate-300 rounded" type="password"
            th:field="*{password}" />
        </div>
      </section>
      <section class="grid lg:grid-cols-3 grid-cols-1 gap-3">
        <div>
          <label class="block font-medium mb-1" th:for="hoten">Họ tên</label>
          <input class="block px-3 py-2 w-full border border-slate-300 rounded" type="text" th:field="*{hoten}" />
        </div>
        <div>
          <label class="block font-medium mb-1" th:for="diachi">Địa chỉ</label>
          <input class="block px-3 py-2 w-full border border-slate-300 rounded" type="text" th:field="*{diachi}" />
        </div>
        <div>
          <label class="block font-medium mb-1" th:for="loai_tai_khoan">Vai trò</label>
          <select name="loai_tai_khoan" id="loai_tai_khoan"
            class="block px-3 py-2 w-full border border-slate-300 rounded">
            <option th:if="${taikhoan.getLoai_tai_khoan() == 'ROLE_NHANVIEN'}" value="ROLE_NHANVIEN" selected>Nhân viên</option>
            <option th:if="${taikhoan.getLoai_tai_khoan() != 'ROLE_NHANVIEN'}" value="ROLE_NHANVIEN">Nhân viên</option>
            <option th:if="${taikhoan.getLoai_tai_khoan() == 'ROLE_QUANLY'}" value="ROLE_QUANLY" selected>Quản lý</option>
            <option th:if="${taikhoan.getLoai_tai_khoan() != 'ROLE_QUANLY'}" value="ROLE_QUANLY">Quản lý</option>
          </select>
        </div>  
      </section>
      <input class="hidden" value="1" type="number" th:field="*{enabled}" />
      <input class="hidden" type="date" th:field="*{NGAYTHEM}" />

      <input class="p-2 w-max bg-green-500 rounded block text-white" type="submit" value="Lưu" />
    </form>
  </div>
  <script th:inline="javascript">
    const errorMessage = /*[[${errorMessage}]]*/ '';
    if (errorMessage) {
      showNotification(
        {
          title: "Lỗi",
          message: errorMessage,
          type: "error"
        }
      );
    }
  </script>
</body>

</html>