<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <link rel="icon" type="image/png" href="/images/LogoMobile.png">
    <title>Danh sách tài khoản</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}" />
</head>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="p-4 w-full bg-slate-50 shadow-sm rounded-lg md:mx-auto pl-11">
        <h1 class="font-bold text-center my-2">Quản lý tài khoản</h1>
        <form action="" class="w-full max-w-[90vw] flex flex-col gap-2 my-2 mx-auto">
            <section>
                <div>
                    <label class="block font-medium" for="search">Tìm kiếm</label>
                    <input class="block p-2 w-full border border-black rounded" type="text" name="search" id="search"
                        th:value="${search}">
                </div>
            </section>
            <section class="grid sm:grid-cols-2 grid-cols-1 gap-2">
                <div>
                    <label class="block font-medium" for="from">Từ ngày</label>
                    <input class="block p-2 w-full border border-black rounded" type="date" name="from" id="from"
                        th:value="${from}">
                </div>
                <div>
                    <label class="block font-medium" for="to">Đến ngày</label>
                    <input class="block p-2 w-full border border-black rounded" type="date" name="to" id="to"
                        th:value="${to}">
                </div>
            </section>

            <section class="flex items-center gap-1">
                <button class="p-2 w-max my-2 bg-blue-500 rounded block text-white flex-shrink-0">Tìm kiếm</button>
                <a href="/admin/accounts/add" class="p-2 w-max bg-green-500 rounded block text-white">Thêm tài khoản</a>
            </section>
        </form>
        <ul th:if="${sotrang > 1}" class="flex items-center flex-wrap w-full sm:gap-2 gap-1 my-4">
            <li>Trang:</li>
            <li th:each="i:${#numbers.sequence(1,sotrang,1)}">
                <a th:classappend="${page + 1 == i} ? 'bg-black text-white' : 'bg-white text-black'"
                    class="p-2 aspect-square border border-b hover:text-blue-500"
                    th:href="@{'/admin/donhang/?page=' + ${i} + '&search=' + ${search} + '&from=' + ${from} + '&to=' + ${to}}"
                    th:text="${i}"></a>
            </li>
        </ul>
        <section class="w-full overflow-x-auto">
            <table class="w-max mx-auto">
                <tr>
                    <th class="bg-black text-white p-2 border border-solid border-black max-w-[250px] overflow-hidden">
                        Username</th>
                    <th class="bg-black text-white p-2 border border-solid border-black max-w-[250px] overflow-hidden">
                        Password</th>
                    <th class="bg-black text-white p-2 border border-solid border-black max-w-[250px] overflow-hidden">
                        Họ
                        tên</th>
                    <th class="bg-black text-white p-2 border border-solid border-black max-w-[250px] overflow-hidden">
                        Ngày
                        thêm</th>
                    <th class="bg-black text-white p-2 border border-solid border-black max-w-[250px] overflow-hidden">
                        Tùy
                        chọn</th>
                </tr>
                <tr th:each="taikhoan : ${taikhoans}">
                    <td class="p-2 border border-solid border-black max-w-[250px] overflow-hidden"
                        th:text="${taikhoan.getUsername()}"></td>
                    <td class="p-2 border border-solid border-black max-w-[250px] overflow-hidden"
                        th:text="${taikhoan.getPassword()}"></td>
                    <td class="p-2 border border-solid border-black max-w-[250px] overflow-hidden"
                        th:text="${taikhoan.getHoten()}"></td>
                    <td class="p-2 border border-solid border-black max-w-[250px] overflow-hidden"
                        th:text="${taikhoan.getNGAYTHEM()}"></td>
                    <td class="p-2 border border-solid border-black max-w-[250px] overflow-hidden">
                        <a class="p-2 rounded bg-green-500 text-white"
                            th:href="@{/admin/khachhang/edit?id={id}(id=${taikhoan.getUsername()})}">Sửa</a>
                        <button class="p-2 rounded bg-red-500 text-white" th:data-id="${taikhoan.getUsername()}"
                            onclick="confirmDelete(this);">Xóa</button>
                    </td>
                </tr>
            </table>
        </section>
    </div>

    <script src="/js/sweetalert.min.js"></script>
    <script>
        function confirmDelete(element) {
            const id = element.getAttribute('data-id'); // Lấy giá trị từ data-attribute

            Swal.fire({
                title: 'Bạn có chắc chắn muốn xóa?',
                text: "Hành động này không thể hoàn tác!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Vâng, xóa nó!',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = `/admin/accounts/delete?id=${id}`;
                }
            });
        }
    </script>
</body>

</html>