<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <link rel="icon" type="image/png" href="/images/LogoMobile.png">
    <title>Danh sách tài khoản</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}" />
</head>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="p-4 w-max bg-slate-50 shadow-sm rounded-lg md:mx-auto pl-11">
        <h1 class="font-bold text-center my-2">Quản lý tài khoản</h1>
        <table class="table table-active">
            <tr>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Username</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Password</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Họ tên</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Enable</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Tùy chọn</th>
            </tr>
            <tr th:each="taikhoan : ${taikhoans}">
                <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden" th:text="${taikhoan.getUsername()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden" th:text="${taikhoan.getPassword()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden" th:text="${taikhoan.getHoten()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden" th:text="${taikhoan.getEnabled()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden">
                    <a class="p-2 rounded bg-green-500 text-white"
                        th:href="@{/admin/accounts/edit?id={id}(id=${taikhoan.getUsername()})}">Sửa</a>
                    <a class="p-2 rounded bg-red-500 text-white"
                        th:href="@{/admin/accounts/delete?id={id}(id=${taikhoan.getUsername()})}">Xóa</a>
                </td>
            </tr>
        </table>
        <a href="/admin/accounts/add" class="p-2 w-max bg-green-500 rounded block mt-4 text-white">Thêm tài khoản</a>
    </div>
</body>

</html>