<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
  <link rel="icon" type="image/png" href="/images/LogoMobile.png">
  <title>Đơn hàng</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}" />
</head>

<body>
  <div th:replace="~{fragments/sidebar :: sidebar}"></div>
  <div class="p-4 w-full md:mx-auto pl-11">
    <h1 class="font-bold text-center my-2">Quản lý đơn hàng</h1>
    <form action="" class="w-full mx-auto max-w-[90vw] flex flex-col gap-2 my-2">
      <section class="grid lg:grid-cols-3 grid-cols-1 gap-2">
        <div>
          <label class="block font-medium" th:for="hoten">Email</label>
          <input class="block p-2 w-full border border-black rounded" name="email" th:value="${email}" type="text"
            placeholder="user@email.com" />
        </div>
        <div>
          <label class="block font-medium" th:for="hoten">Tên khách hàng</label>
          <input class="block p-2 w-full border border-black rounded" name="hoten" th:value="${hoten}" type="text"
            placeholder="Tên khách hàng" />
        </div>
        <div>
          <label class="block font-medium" th:for="diachi">Địa chỉ giao</label>
          <input class="block p-2 w-full border border-black rounded" name="diachi" th:value="${diachi}" type="text"
            placeholder="Địa chỉ giao" />
        </div>
      </section>

      <section class="grid lg:grid-cols-4 grid-cols-2 gap-2">
        <div>
          <label class="block font-medium" th:for="tensanpham">Tên sản phẩm</label>
          <input class="block p-2 w-full border border-black rounded" name="tensanpham" th:value="${tensanpham}"
            type="text" placeholder="Tên sản phẩm" />
        </div>
        <div>
          <label class="block font-medium" th:for="tongtien">Tổng tiền</label>
          <input class="block p-2 w-full border border-black rounded" name="tongtien" th:value="${tongtien}"
            type="number" placeholder="1.000.000" />
        </div>
        <div>
          <label class="block font-medium" for="tinhtrang">Tình trạng</label>
          <select class="block p-2 w-full border border-black rounded" name="tinhtrang" id="tinhtrang">
            <option value="">Chưa chọn</option>
            <option th:each="tt : ${tinhtrang_options}" th:value="${tt}" th:text="${tt}"
              th:selected="${tt == tinhtrang}">
            </option>
          </select>
        </div>
        <div>
          <label class="block font-medium" for="thanhtoan">Thanh toán</label>
          <select class="block p-2 w-full border border-black rounded" name="thanhtoan" id="thanhtoan">
            <option value="">Chưa chọn</option>
            <option th:each="tt : ${thanhtoan_options}" th:value="${tt}" th:text="${tt}"
              th:selected="${tt == thanhtoan}">
            </option>
          </select>
        </div>
      </section>

      <section class="grid sm:grid-cols-2 grid-cols-1 gap-2">
        <div>
          <label class="block font-medium" for="from">Từ ngày</label>
          <input class="block p-2 w-full border border-black rounded" type="date" name="from" id="from"
            th:value="${from}">
        </div>
        <div>
          <label class="block font-medium" for="to">Đến ngày</label>
          <input class="block p-2 w-full border border-black rounded" type="date" name="to" id="to" th:value="${to}">
        </div>
      </section>

      <button class="p-2 w-max my-2 bg-blue-500 rounded block text-white flex-shrink-0">Tìm kiếm</button>
      <ul th:if="${sotrang > 1}" class="flex items-center flex-wrap w-full sm:gap-2 gap-1 my-4">
        <li>Trang:</li>
        <li th:each="i:${#numbers.sequence(1,sotrang,1)}">
          <a th:classappend="${page + 1 == i} ? 'bg-black text-white pointer-events-none' : 'bg-white text-black'"
            class="p-2 aspect-square border border-b hover:text-blue-500"
            th:href="@{'/admin/donhang/?page=' + ${i} + '&email=' + ${email} + '&hoten=' + ${hoten} + '&diachi=' + ${diachi} + '&tensanpham=' + ${tensanpham} + '&tinhtrang=' + ${tinhtrang} + '&thanhtoan=' + ${thanhtoan} + '&tongtien=' + ${tongtien} + '&from=' + ${from} + '&to=' + ${to}}"
            th:text="${i}"></a>
        </li>
    </form>
    </ul>
    <section class="w-full overflow-x-auto">
      <table class="w-max mx-auto">
        <tr>
          <th class="bg-black text-white p-2 max-w-[200px] text-left overflow-hidden">Mã đơn hàng
          </th>
          <th class="bg-black text-white p-2 max-w-[200px] text-left overflow-hidden">Khách hàng
          </th>
          <th class="bg-black text-white p-2 max-w-[200px] text-left overflow-hidden">Tổng tiền
          </th>
          <th class="bg-black text-white p-2 max-w-[200px] text-left overflow-hidden">Địa chỉ
          </th>
          <th class="bg-black text-white p-2 max-w-[200px] text-left overflow-hidden">Ghi chú
          </th>
          <th class="bg-black text-white p-2 max-w-[200px] text-left overflow-hidden">Tình trạng
          </th>
          <th class="bg-black text-white p-2 max-w-[200px] text-left overflow-hidden">Thanh toán
          </th>
          <th class="bg-black text-white p-2 max-w-[200px] text-left overflow-hidden">Sản phẩm
            mua
          </th>
          <th class="bg-black text-white p-2 max-w-[200px] text-left overflow-hidden">Ngày thêm
          </th>
          <th class="bg-black text-white p-2 max-w-[200px] text-left overflow-hidden">Tùy chỉnh
          </th>
        </tr>
        <tr th:each="donhang : ${donhangs}" th:if="${donhangs}" class="odd:bg-slate-300 even:bg-slate-200">
          <td class="p-2 max-w-[200px] overflow-hidden"
            th:text="${donhang.getMaDonHang()}"></td>
          <td class="p-2 max-w-[200px] overflow-hidden">
            <a th:href="${'?email=' + donhang.getTaikhoan().getUsername()}"
              th:text="@{${donhang.getTaikhoan().getUsername()} + ' - ' +${donhang.getTaikhoan().getHoten()}}"
              class="hover:text-yellow-400 hover:bg-slate-900"></a>
          </td>
          <td class="p-2 max-w-[200px] overflow-hidden"
            th:text="${donhang.getTongTienFormatted()}"></td>
          <td class="p-2 max-w-[200px] overflow-hidden"
            th:text="${donhang.getDiaChi()}">
          </td>
          <td class="p-2 max-w-[200px] overflow-hidden"
            th:text="${donhang.getGhiChu() ?: ''}"></td>
          <td class="p-2 max-w-[200px] overflow-hidden">
            <a href="?tinhtrang=Chờ+thanh+toán" class="py-1 px-[6px] rounded-sm bg-red-500 font-medium text-white"
              th:if="${donhang.getTinhTrang() == 'Chờ thanh toán'}">
              Chờ thanh toán
            </a>
            <a href="?tinhtrang=Chờ+xác+nhận" class="py-1 px-[6px] rounded-sm bg-orange-500 font-medium text-white"
              th:if="${donhang.getTinhTrang() == 'Chờ xác nhận'}">
              Chờ xác nhận
            </a>
            <a href="?tinhtrang=Đã+xác+nhận" class="py-1 px-[6px] rounded-sm bg-blue-500 font-medium text-white"
              th:if="${donhang.getTinhTrang() == 'Đã xác nhận'}">
              Đã xác nhận
            </a>
            <a href="?tinhtrang=Đã+hủy" class="py-1 px-[6px] rounded-sm bg-red-500 font-medium text-white"
              th:if="${donhang.getTinhTrang() == 'Đã hủy'}">
              Đã hủy
            </a>
            <a href="?tinhtrang=Đã+nhận+hàng" class="py-1 px-[6px] rounded-sm bg-green-500 font-medium text-white"
              th:if="${donhang.getTinhTrang() == 'Đã nhận hàng'}">
              Đã nhận hàng
            </a>
            <a href="?tinhtrang=Đang+vận+chuyển" class="py-1 px-[6px] rounded-sm bg-amber-500 font-medium text-white"
              th:if="${donhang.getTinhTrang() == 'Đang vận chuyển'}">
              Đang giao
            </a>
          </td>
          <td class="p-2 max-w-[200px] overflow-hidden">
            <a href="?thanhtoan=Chưa+thanh+toán" class="py-1 px-[6px] rounded-sm bg-orange-500 font-medium text-white"
              th:if="${donhang.getThanhToan() == 'Chưa thanh toán'}">
              Chưa thanh toán
            </a>
            <a href="?thanhtoan=Đã+hủy" class="py-1 px-[6px] rounded-sm bg-red-500 font-medium text-white"
              th:if="${donhang.getThanhToan() == 'Đã hủy'}">
              Đã hủy
            </a>
            <a href="?thanhtoan=Thất+bại" class="py-1 px-[6px] rounded-sm bg-red-500 font-medium text-white"
              th:if="${donhang.getThanhToan() == 'Thất bại'}">
              Thất bại
            </a>
            <a href="?thanhtoan=Đã+thanh+toán" class="py-1 px-[6px] rounded-sm bg-green-500 font-medium text-white"
              th:if="${donhang.getThanhToan() == 'Đã thanh toán'}">
              Đã thanh toán
            </a>
            <a href="?thanhtoan=Khi+nhận+hàng" class="py-1 px-[6px] rounded-sm bg-blue-500 font-medium text-white"
              th:if="${donhang.getThanhToan() == 'Khi nhận hàng'}">
              Khi nhận hàng
            </a>
          </td>
          <td class="p-2 max-w-[200px] overflow-hidden">
            <p class="my-1" th:each="sp : ${donhang.getItems()}"><a target="_blank"
                class="text-sm rounded-sm p-1 bg-slate-200 hover:text-yellow-400 hover:bg-slate-900"
                th:href="${sp.getLink()}" th:text="${sp.getTensanpham()}"></a> x <span
                th:text="${sp.getSoLuong()}"></span></p>
          </td>
          <td class="p-2 max-w-[200px] overflow-hidden"
            th:text="${donhang.getNGAYTHEM()}"></td>
          <td class="p-2 max-w-[200px] overflow-hidden">
            <div class="flex flex-col items-center gap-2">
              <button class="p-2 rounded bg-blue-500 text-white" th:if="${donhang.getTinhTrang() == 'Chờ xác nhận'}"
                th:data-id="${donhang.getMaDonHang()}" th:data-action="xacnhan" onclick="confirmAction(this);">
                Xác nhận
              </button>
              <button class="p-2 rounded bg-amber-500 text-white" th:if="${donhang.getTinhTrang() == 'Đã xác nhận'}"
                th:data-id="${donhang.getMaDonHang()}" th:data-action="vanchuyen" onclick="confirmAction(this);">
                Vận chuyển
              </button>
              <button class="p-2 rounded bg-blue-500 text-white" th:if="${donhang.getTinhTrang() == 'Đang vận chuyển'}"
                th:data-id="${donhang.getMaDonHang()}" th:data-action="danhan" onclick="confirmAction(this);">
                Đã nhận
              </button>
              <button class="p-2 rounded bg-red-500 text-white"
                th:if="${donhang.getTinhTrang() != 'Chờ xác nhận' && donhang.getTinhTrang() != 'Đã nhận hàng' && donhang.getTinhTrang() != 'Đã hủy'}"
                th:data-id="${donhang.getMaDonHang()}" th:data-action="huy" onclick="confirmAction(this);">
                Hủy đơn
              </button>
              <button class="p-2 rounded bg-red-500 text-white" th:if="${donhang.getTinhTrang() == 'Chờ xác nhận' && donhang.getThanhToan() != 'Đã thanh toán'}"
                th:data-id="${donhang.getMaDonHang()}" th:data-action="huy" onclick="confirmAction(this);">
                Từ chối
              </button>
            </div>
          </td>
        </tr>
      </table>
    </section>
  </div>
  <script src="/js/sweetalert.min.js"></script>
  <script>
    function confirmAction(element) {
      const id = element.getAttribute('data-id'); // Lấy giá trị từ data-attribute
      const action = element.getAttribute('data-action'); // Lấy giá trị từ data-attribute
      let title = "";
      let text = "";
      let icon = "info";

      switch (action) {
        case "xacnhan":
          title = "Xác nhận đơn hàng?";
          text = "Khách hàng sẽ được thông báo đơn hàng đã được xác nhận.";
          break;
        case "vanchuyen":
          title = "Vận chuyển đơn hàng?";
          text = "Khách hàng sẽ được thông báo đơn hàng đang được vận chuyển.";
          break;
        case "danhan":
          title = "Xác nhận đơn hàng?";
          text = "Đánh dấu đơn hàng là đã được nhận.";
          break;
        case "huy":
          title = "Hủy đơn hàng?";
          text = "Hành động này không thể hoàn tác!";
          icon = "warning"
          break;
        default:
          throw new Error("Button data-action is invalid!");
          break;
      }


      Swal.fire({
        title,
        text,
        icon,
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Xác nhận',
        cancelButtonText: 'Hủy'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = `/admin/donhang/${action}?madonhang=${id}`;
        }
      });
    }
  </script>
  <script th:inline="javascript">
    const errorMessage = /*[[${errorMessage}]]*/ '';
    if (errorMessage) {
      showNotification(
        {
          title: "Lỗi",
          message: errorMessage,
          type: "error"
        }
      );
    }
  </script>
</body>

</html>