<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/images/LogoMobile.png">
    <title>Thêm đồng hồ</title>
    <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}" />
</head>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="p-4 w-max bg-slate-50 shadow-sm rounded-lg mx-auto">
        <h1 class="font-bold text-center my-2">Đồng hồ mới</h1>
        <div class="col-md-auto">
            <form th:object="${dongho}" th:action="@{/admin/dongho/save}" action="#" method="post"
                enctype="multipart/form-data">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="file">Chọn ảnh:</label>
                    <input type="file" id="file" name="file" class="border border-black rounded form-input mt-1 block w-full" multiple="multiple"
                        accept="image/*" onchange="previewImages(event)" required>
                </div>
                <div id="preview-container" class="mb-4 flex flex-wrap">
                    <!-- Images preview will be shown here -->
                </div>
                <div>
                    <label class="block font-medium" th:for="tendongho">Tên đồng hồ</label>
                    <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="text" th:field="*{tendongho}"
                        placeholder="Tên đồng hồ" />
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <div>
                    <label class="block font-medium" th:for="giatien">Giá tiền</label>
                    <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="number" th:field="*{giatien}"
                        placeholder="Giá tiền" />
                </div>
                <div>
                    <label class="block font-medium" th:for="soluong">Số lượng</label>
                    <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="number" th:field="*{soluong}"
                        placeholder="Số lượng" />
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <div>
                    <label class="block font-medium" th:for="tragop">Trả góp</label>
                    <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="number" th:field="*{tragop}"
                        placeholder="Trả góp" />
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <div>
                    <label class="block font-medium" th:for="duongkinh">Đường kính</label>
                    <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="number" th:field="*{duongkinh}"
                        placeholder="Đường kính" />
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <div>
                    <label class="block font-medium" th:for="chongnuoc">Chống nước</label>
                    <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="number" th:field="*{chongnuoc}"
                        placeholder="Chống nước" />
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <div>
                    <label class="block font-medium" th:for="bomay">Bộ máy</label>
                    <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="text" th:field="*{bomay}"
                        placeholder="Automatic" />
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <div>
                    <label class="block font-medium" th:for="gioitinh">Giới tính</label>
                    <select class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" name="gioitinh">
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </select>
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <div>
                    <label class="block font-medium" th:for="chatlieu">Chất liệu</label>
                    <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="text" th:field="*{chatlieu}" placeholder="Sapphire"/>
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <div>
                    <label class="block font-medium" th:for="thongtin">Thông tin</label>
                    <textarea class="border border-black rounded p-2 w-[80vw] min-w-[280px]" rows="5" th:field="*{thongtin}"></textarea>
                </div>

                <input class="border border-black rounded hidden" type="date" id="datePicker" name="NGAYTHEM" />

                <div style="clear: both; display: block; height: 10px"></div>
                <input class="p-2 w-max bg-green-500 rounded block mt-4 text-white" type="submit" value="Thêm" />
            </form>
        </div>
    </div>
    <script>
        document.getElementById('datePicker').valueAsDate = new Date();

        function previewImages(event) {
            var files = event.target.files;
            var container = document.getElementById('preview-container');
            container.innerHTML = '';
            for (var i = 0; i < files.length; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var img = document.createElement('img');
                    img.src = e.target.result;
                    img.classList.add('w-32', 'h-32', 'object-cover', 'm-2');
                    container.appendChild(img);
                };
                reader.readAsDataURL(files[i]);
            }
        }
    </script>
</body>

</html>