<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <title>Đồng Hồ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}" />
</head>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="p-4 w-max bg-slate-50 shadow-sm rounded-lg md:mx-auto pl-11">
        <h1 class="font-bold text-center my-2">Quản lý đồng hồ</h1>
        <table>
            <tr>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Mã đồng hồ</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Tên đồng hồ</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Giá tiền</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Số lượng</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Trả góp</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Đường kính</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Chống nước</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Bộ máy</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Thông tin</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Giới tính</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Chất liệu</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Ngày thêm</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Tùy chọn</th>
            </tr>
            <tr th:each="dongho : ${donghos}">
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${dongho.getMadongho()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${dongho.getTendongho()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${dongho.getGiatien()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${dongho.getSoluong()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${dongho.getTragop()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${dongho.getDuongkinh()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${dongho.getChongnuoc()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${dongho.getBomay()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${dongho.getThongtin()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${dongho.getGioitinh()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${dongho.getChatlieu()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${dongho.getNGAYTHEM()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]">
                    <a th:href="@{/admin/dongho/edit?id={id}(id=${dongho.getMadongho()})}"
                        class="p-2 rounded bg-green-500 text-white">Sửa</a>
                    <a th:href="@{/admin/dongho/delete?id={id}(id=${dongho.getMadongho()})}"
                        class="p-2 rounded bg-red-500 text-white">Xóa</a>
                </td>
            </tr>
        </table>
        <a href="/admin/dongho/add" class="p-2 w-max bg-green-500 rounded block mt-4 text-white">Thêm đông hồ</a>
    </div>
</body>

</html>