<!DOCTYPE html>  
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">  
<head>  
    <meta charset="UTF-8">  
    <title>Thêm trang sức</title>  
    <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}"/>  
</head>  
<body>  
<div class="col-3"></div>  
<div class="container col-6">  
    <h1>Trang sức mới</h1>  
    <div class="col-md-auto">  
        <form th:object="${trangsuc}" th:action="@{save}" action="#" method="post">  
            <div>  
                <label th:for="matrangsuc">Mã trang sức</label>  
                <input type="number" th:field="*{matrangsuc}" class="form-control" placeholder="Mã trang sức"/>  
            </div>  
            <div style="clear: both; display: block; height: 10px"></div>  
            <div>  
                <label th:for="tentrangsuc">Tên trang sức</label>  
                <input type="text" th:field="*{tentrangsuc}" class="form-control" placeholder="Tên trang sức"/>  
            </div>  
            <div style="clear: both; display: block; height: 10px"></div>  
            <div>  
                <label th:for="gia">Giá tiền</label>  
                <input type="number" th:field="*{gia}" class="form-control" placeholder="Giá tiền"/>  
            </div>  
            <div>  
                <label th:for="soluong">Số lượng</label>  
                <input type="number" th:field="*{soluong}" class="form-control" placeholder="Số lượng"/>  
            </div>  
            <div style="clear: both; display: block; height: 10px"></div>  
            <div>  
                <label th:for="tragop">Trả góp</label>  
                <input type="number" th:field="*{tragop}" class="form-control" placeholder="Trả góp"/>  
            </div>   
            <div style="clear: both; display: block; height: 10px"></div>  
            <div>  
                <label th:for="thongtin">Thông tin</label>  
                <input type="text" th:field="*{thongtin}" class="form-control" placeholder="Thông tin"/>  
            </div>  

            <input type="date" id="datePicker" name="NGAYTHEM" />

            <div style="clear: both; display: block; height: 10px"></div>  
            <input type="submit" class="btn btn-success" value="Thêm"/>  
        </form>  
    </div>  
</div>  
<script>
    document.getElementById('datePicker').valueAsDate = new Date();
</script>
</body>  
</html>