<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <title>Trang sức</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}" />
</head>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="p-4 w-max bg-slate-50 shadow-sm rounded-lg md:mx-auto pl-11">
        <h1 class="font-bold text-center my-2">Quản lý trang sức</h1>
        <table class="table table-active">
            <tr>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Mã trang sức</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Tên trang sức</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Giá tiền</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Số lượng</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Trả góp</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Thông tin</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Ngày thêm</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Tùy chọn</th>
            </tr>
            <tr th:each="trangsuc : ${trangsucs}">
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${trangsuc.getMatrangsuc()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${trangsuc.getTentrangsuc()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${trangsuc.getGia()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${trangsuc.getSoluong()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${trangsuc.getTragop()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${trangsuc.getThongtin()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${trangsuc.getNGAYTHEM()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]">
                    <a class="p-2 rounded bg-green-500 text-white"
                        th:href="@{/admin/trangsuc/edit?id={id}(id=${trangsuc.getMatrangsuc()})}">Edit</a>
                    <a class="p-2 rounded bg-red-500 text-white"
                        th:href="@{/admin/trangsuc/delete?id={id}(id=${trangsuc.getMatrangsuc()})}">Delete</a>
                </td>
            </tr>
        </table>
        <a href="/admin/trangsuc/add" class="p-2 w-max bg-green-500 rounded block mt-4 text-white">Thêm trang sức</a>
    </div>
</body>

</html>