<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <link rel="icon" type="image/png" href="/images/LogoMobile.png">
    <title>Trang sức</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}" />
</head>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="p-4 w-max bg-slate-50 shadow-sm rounded-lg md:mx-auto pl-11">
        <h1 class="font-bold text-center my-2">Quản lý trang sức</h1>
        <form action="" class="w-full flex gap-2 my-2">
            <input class="p-2 rounded block w-[60%] outline-none border border-black" type="text" name="search" th:value="${search}" placeholder="Tìm kiếm">
            <button class="p-2 w-max bg-blue-500 rounded block text-white flex-shrink-0">Tìm kiếm</button>
        </form>
        <table class="table table-active">
            <tr>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Mã trang sức</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Tên trang sức</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Giá tiền</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Số lượng</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Trả góp</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Thông tin</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Ngày thêm</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Tùy chọn</th>
            </tr>
            <tr th:each="trangsuc : ${trangsucs}">
                <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden" th:text="${trangsuc.getMatrangsuc()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden" th:text="${trangsuc.getTentrangsuc()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden" th:text="${trangsuc.getGia()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden" th:text="${trangsuc.getSoluong()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden" th:text="${trangsuc.getTragop()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden" th:text="${trangsuc.getThongtin()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden" th:text="${trangsuc.getNGAYTHEM()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden">
                    <a class="p-2 rounded bg-green-500 text-white"
                        th:href="@{/admin/trangsuc/edit?id={id}(id=${trangsuc.getMatrangsuc()})}">Sửa</a>
                    <a class="p-2 rounded bg-red-500 text-white"
                        th:href="@{/admin/trangsuc/delete?id={id}(id=${trangsuc.getMatrangsuc()})}">Xóa</a>
                </td>
            </tr>
        </table>
        <ul th:if="${sotrang > 1}" class="flex items-center flex-wrap w-full gap-2 mt-4">
            <li>Trang:</li>
            <li th:each="i:${#numbers.sequence(1,sotrang,1)}">
                <a th:classappend="${page + 1 == i} ? 'bg-black text-white' : 'bg-white text-black'" class="p-2 aspect-square border border-b hover:text-blue-500" th:href="@{'/admin/trangsuc/?search=' + ${search} + '&page=' + ${i}}" th:text="${i}"></a>
            </li>
        </ul>
        <a href="/admin/trangsuc/add" class="p-2 w-max bg-green-500 rounded block mt-4 text-white">Thêm trang sức</a>
    </div>
</body>

</html>