<!DOCTYPE html>  
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">  
<head>  
    <title>Trang sức</title>  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
    <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}"/>  
</head>  
<body>  
<div class="col-3"></div>  
<div class="container col-6">  
    <h1>Quản lý trang sức</h1>  
    <table class="table table-active">  
        <tr>  
            <th>Mã trang sức</th>  
            <th>Tên trang sức</th>  
            <th>Giá tiền</th>  
            <th>Số lượng</th>  
            <th>Trả góp</th>  
            <th>Thông tin</th>  
            <th>Ngày thêm</th>  
            <th>Tùy chọn</th>  
        </tr>  
        <tr th:each="trangsuc : ${trangsucs}">  
            <td th:text="${trangsuc.getMatrangsuc()}"></td>  
            <td th:text="${trangsuc.getTentrangsuc()}"></td>  
            <td th:text="${trangsuc.getGia()}"></td>  
            <td th:text="${trangsuc.getSoluong()}"></td>  
            <td th:text="${trangsuc.getTragop()}"></td>   
            <td th:text="${trangsuc.getThongtin()}"></td>  
            <td th:text="${trangsuc.getNGAYTHEM()}"></td>  
            <td>  
                <a th:href="@{/admin/trangsuc/edit?id={id}(id=${trangsuc.getMatrangsuc()})}" class="btn btn-primary">Edit</a>  
                <a th:href="@{/admin/trangsuc/delete?id={id}(id=${trangsuc.getMatrangsuc()})}" class="btn btn-danger">Delete</a>  
            </td>  
        </tr>  
    </table>  
    <a href="/admin/trangsuc/add" class="btn btn-success">Thêm trang sức</a>  
</div>  
</body>  
</html>