<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" type="image/png" href="/images/LogoMobile.png">
  <title>Lịch sử kho</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}" />
</head>

<body class="bg-slate-200">
  <div th:replace="~{fragments/sidebar :: sidebar}"></div>
  <div class="p-4 w-full h-screen pl-16">
    <form action="" class="w-full mx-auto flex flex-col gap-4 bg-white rounded-md shadow-sm text-sm p-5 mb-6 border border-slate-300">
      <section class="grid sm:grid-cols-2 grid-cols-1 gap-2">
        <div>
          <label class="block font-medium mb-1" for="nguoithuchien">Người thực hiện</label>
          <input class="block px-3 py-2 w-full border border-slate-300 rounded" type="text" name="nguoithuchien"
            th:value="${nguoithuchien}" placeholder="admin@email.com">
        </div>
        <div>
          <label class="block font-medium mb-1" for="hanhdong">Hành động</label>
          <select name="hanhdong" id="hanhdong" class="block px-3 py-2 w-full border border-slate-300 rounded">
            <option value="">Chưa chọn</option>
            <option th:if="${hanhdong == 'Nhập hàng'}" value="Nhập hàng" selected>Nhập hàng</option>
            <option th:if="${hanhdong != 'Nhập hàng'}" value="Nhập hàng">Nhập hàng</option>
            <option th:if="${hanhdong == 'Xuất hàng'}" value="Xuất hàng" selected>Xuất hàng</option>
            <option th:if="${hanhdong != 'Xuất hàng'}" value="Xuất hàng">Xuất hàng</option>
          </select>
        </div>
      </section>
      <section>
        <label class="block font-medium mb-1" for="thongtin">Thông tin hành động</label>
        <input class="block px-3 py-2 w-full border border-slate-300 rounded" type="text" name="thongtin"
          th:value="${thongtin}" placeholder="Thông tin hành động">
      </section>
      <section class="grid sm:grid-cols-2 grid-cols-1 gap-2">
        <div>
          <label class="block font-medium mb-1" for="from">Từ thời gian</label>
          <input class="block px-3 py-2 w-full border border-slate-300 rounded" type="datetime-local" name="from" id="from"
            th:value="${from}">
        </div>
        <div>
          <label class="block font-medium mb-1" for="to">Đến thời gian</label>
          <input class="block px-3 py-2 w-full border border-slate-300 rounded" type="datetime-local" name="to" id="to" th:value="${to}">
        </div>
      </section>
      <button class="py-2 px-4 font-medium w-max bg-blue-500 rounded block text-white flex-shrink-0">Tìm kiếm</button>
      <ul th:if="${sotrang > 1}" class="flex items-center flex-wrap w-full">
        <li class="mr-2">Trang:</li>
        <li
        th:classappend="${page + 1 == i} ? 'bg-blue-500 text-white pointer-events-none' : 'bg-white text-black'" 
        class="py-2 px-3 border hover:text-blue-500"
        th:each="i:${#numbers.sequence(1,sotrang,1)}">
            <a
              th:href="@{'/admin/butky/?thongtin=' + ${thongtin} + '&page=' + ${i} + '&from=' + ${from} + '&to=' + ${to} + '&hanhdong=' + ${hanhdong} + '&nguoithuchien=' + ${nguoithuchien}}"
              th:text="${i}"></a>
        </li>
      </ul>
    </form>
    <section class="w-full mx-auto bg-white rounded-md shadow-sm text-sm p-5 mb-6 overflow-x-auto border border-slate-300">
      <table class="sm:w-full w-max mx-auto text-neutral-800">
        <tr>
          <th class="bg-slate-200 font-medium border border-slate-300 p-2 text-left max-w-[200px]">
            Mã lịch sử</th>
          <th class="bg-slate-200 font-medium border border-slate-300 p-2 text-left max-w-[200px]">
            Thời gian</th>
          <th class="bg-slate-200 font-medium border border-slate-300 p-2 text-left max-w-[200px]">
            Hành động</th>
          <th class="bg-slate-200 font-medium border border-slate-300 p-2 text-left max-w-[200px]">
            Thông tin</th>
          <th class="bg-slate-200 font-medium border border-slate-300 p-2 text-left max-w-[200px]">
            Người thực hiện</th>
        </tr>
        <tr th:each="activity : ${activities}">
          <td class="p-2 border border-slate-300 max-w-[200px] overflow-auto"
            th:text="${activity.maLichSu}"></td>
            <td class="p-2 border border-slate-300 max-w-[200px] overflow-auto"
            th:text="${activity.thoiGian}"></td>
            <td class="p-2 border border-slate-300 max-w-[200px] overflow-auto"
            th:text="${activity.hanhDong}"></td>
            <td class="p-2 border border-slate-300 max-w-[200px] overflow-auto"
            th:text="${activity.thongTin}"></td>
            <td class="p-2 border border-slate-300 max-w-[200px] overflow-auto"
            th:text="${activity.nguoiThucHien}"></td>
        </tr>
      </table>
    </section>
  </div>
  <script th:inline="javascript">
    const errorMessage = /*[[${errorMessage}]]*/ '';
    if (errorMessage) {
      showNotification(
        {
          title: "Lỗi",
          message: errorMessage,
          type: "error"
        }
      );
    }
  </script>
</body>

</html>