<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="/images/LogoMobile.png" />
  <title>Kính mắt Nam Nữ thời trang chính hãng, Giá tốt nhất | Trả góp 0%</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
  <link rel="stylesheet" th:href="@{/css/application.css}" />
</head>

<body class="bg-gray-200 overflow-x-hidden">
  <div th:replace="~{fragments/header :: header}"></div>
  <div th:replace="~{fragments/productsbar :: productsbar}"></div>
  <div th:replace="~{fragments/index/banner :: banner}"></div>

  <div class="w-full xl:max-w-[1215px] max-w-[1021px] mx-auto my-4 min-h-[85vh]">
    <div class="w-full mb-4">
      <section class="w-full bg-white flex items-center h-[65px] border-b-[3px] border-b-red-600 rounded-t-sm mb-2">
        <h1 class="text-2xl w-max mx-auto font-bold">Kính mắt thời trang</h1>
      </section>

      <section class="grid lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-3 grid-cols-2 w-full gap-2">
        <div class="w-full max-w-[363px] bg-white rounded overflow-hidden" th:each="kinhmat : ${kinhmats}" th:if="${kinhmat.kichhoat == 1}">
          <img th:src="${kinhmat.getFirstImageUrl()}" class="w-full aspect-square" alt="anhkinhmat" />
          <div class="p-2 flex flex-col gap-2">
            <a class="hover:text-yellow-400 text-sm" th:href="@{'/kinhmat/' + ${kinhmat.getMaKinhMat()}}"
              th:text="@{${kinhmat.getTenKinhMat()}}">
            </a>
            <p class="font-bold text-red-600" th:text="@{${kinhmat.getGiaTienFormatted()} + 'đ'}"></p>
            <div class="flex gap-2">
              <button th:data-tsp="${kinhmat.getTenKinhMat()}" th:data-msp="${kinhmat.getMaKinhMat()}"
                th:data-gt="${kinhmat.getGiaTien()}" th:data-asp="${kinhmat.getFirstImageUrl()}"
                onclick="addItem(this.getAttribute('data-tsp'),parseInt(this.getAttribute('data-msp')), 'kinhmat',parseInt(this.getAttribute('data-gt')), this.getAttribute('data-asp')); redirectToCart()"
                class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded flex gap-2 items-center">
                <img src="/svg/tocheckout.svg" class="w-5 h-5" alt="tocheckout">
                <p class="text-xs sm:text-base">
                  Mua ngay
                </p>
              </button>
              <button th:data-tsp="${kinhmat.getTenKinhMat()}" th:data-msp="${kinhmat.getMaKinhMat()}"
                th:data-gt="${kinhmat.getGiaTien()}" th:data-asp="${kinhmat.getFirstImageUrl()}"
                onclick="addItem(this.getAttribute('data-tsp'),parseInt(this.getAttribute('data-msp')), 'kinhmat',parseInt(this.getAttribute('data-gt')), this.getAttribute('data-asp'));"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex gap-2 items-center">
                <img src="/svg/addtocart.svg" class="w-5 h-5" alt="addtocart">
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>
    <ul th:if="${sotrang > 1}" class="flex items-center flex-wrap w-full gap-2 mt-4">
      <li>Trang:</li>
      <li th:each="i:${#numbers.sequence(1,sotrang,1)}">
        <a th:classappend="${page + 1 == i} ? 'bg-black text-white pointer-events-none' : 'bg-white text-black'"
          class="p-2 aspect-square border border-b hover:text-blue-500"
          th:href="@{'/kinhmat?page=' + ${i} + '&search=' + ${search} }" th:text="${i}"></a>
      </li>
    </ul>
  </div>

  <div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>