<div class="w-full bg-gray-800 mt-8" th:fragment="footer">
  <div class="w-full xl:max-w-[1215px] max-w-[1021px] mx-auto flex items-center text-sm p-8">
    <img src="/images/logo.png" alt="logo" class="w-24 h-24 max-w-[275px]">

    <div class="col-span-2 px-2 mx-auto">
      <h3 class="font-medium text-neutral-400 my-3">CỬA HÀNG QUẦN ÁO VQD</h3>
      <p class="text-neutral-100">Trụ sở: Đường Văn Tiến Dũng</p>
      <p class="text-neutral-100">Email: contact@shopquanaovqd.vn</p>
      <p class="text-neutral-100">MSDN số: 099999 Hải Dương</p>
    </div>
  </div>
  <div class="w-full text-center bg-gray-700 text-neutral-300 font-bold p-4">
    <p>&copy; 2024 Shop quần áo VQD</span>. All rights reserved.</p>
  </div>
  <script src="/js/cart.js"></script>
  <script src="/js/notification.js"></script>
</div>