<div class="w-screen bg-black p-4" th:fragment="footer">
  <div class="w-full xl:max-w-[1215px] max-w-[1021px] mx-auto grid sm:grid-cols-5 text-sm">
    <ul class="w-full">
      <h3 class="font-medium text-yellow-400 my-3">DANH MỤC</h3>
      <li class="text-yellow-100 hover:text-yellow-500 transition-all duration-75"><a href="/dongho">Đồng hồ cao cấp chính hãng</a></li>
      <li class="text-yellow-100 hover:text-yellow-500 transition-all duration-75"><a href="/kinhmat">Kính mắt cao cấp chính hãng</a></li>
      <li class="text-yellow-100 hover:text-yellow-500 transition-all duration-75"><a href="/phukien">Phụ kiện cao cấp chính hãng</a></li>
      <li class="text-yellow-100 hover:text-yellow-500 transition-all duration-75"><a href="/trangsuc">Trang sức cao cấp chính hãng</a></li>
      <li class="text-yellow-100 hover:text-yellow-500 transition-all duration-75"><a href="/butky">Bút ký cao cấp chính hãng</a></li>
    </ul>
    <div class="w-full flex items-center col-span-2">
      <img src="/images/logo.png" alt="logo" class="w-full mx-auto max-w-[275px]">
    </div>
    <div class="col-span-2 px-2">
      <h3 class="font-medium text-yellow-400 my-3">CÔNG TY CỔ PHẦN TRỰC TUYẾN ĐĂNG QUANG</h3>
      <p class="text-yellow-100">VPGD: Số BH9A-SP.9A-60 Vinhomes Ocean Park 1 , Xã Dương Xá, Huyện Gia Lâm, Hà Nội</p>
      <p class="text-yellow-100">Email: contact@dangquangwatch.vn</p>
      <p class="text-yellow-100">Giấy CNĐKKD và MSDN số: 0104938104 đăng ký lần đầu do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp ngày 07/10/2010</p>
      <p class="text-white font-bold">Đăng Quang Watch | Đồng hồ, kính mắt chính hãng</p>
    </div>
  </div>
</div>