<div class="h-14 mb-4 w-full relative z-30" th:fragment="header">
    <header id="mainHeader" class="fixed z-10 h-14 w-full box-content py-2 bg-white shadow-lg">
        <section class="w-full xl:max-w-[1215px] max-w-[1021px] mx-auto flex items-center sm:pl-3 px-2">
            <div class="flex-shrink-0 mr-auto">
                <a href="/">
                    <img src="/images/LogoMobile.png" alt="Shop quần áo VAQD" class="sw-14 h-14">
                </a>
            </div>

            <ul class="sm:flex items-center gap-4 font-medium text-sm mx-4 hidden">
                <li>
                    <a href="/shop">SHOP</a>
                </li>
                <li>
                    <a href="/shop?loai=Sweater">SWEATER</a>
                </li>
                <li>
                    <a href="/shop?loai=T-shirt">T-SHIRT</a>
                </li>
            </ul>

            <ul class="flex sm:gap-4 gap-1 items-center text-sm px-2">
                <li id="openSearch">
                    <img src="/svg/search.svg" alt="search">
                </li>
                <li th:if="${session.role != null}" class="relative">
                    <a class="flex items-center gap-1" href="/profile/donhang">
                        <img src="/svg/myorders.svg" alt="orders">
                    </a>
                </li>
                <li class="relative">
                    <a class="flex items-center gap-1" href="/profile/giohang">
                        <img src="/svg/shopping_bag.svg" alt="shopping bag">
                    </a>
                    <p id="cartnum"
                        class="-right-1 -top-1 px-[3px] w-max min-w-[16px] h-4 rounded-full absolute bg-black text-xs text-white text-center">
                        0</p>
                </li>
                <li class="flex flex-col sm:ml-0 ml-2" th:if="${session.hoten}">
                    <a class="hover:text-gray-500 text-xs sm:text-base" href="/profile/doithongtin"
                        th:text="${session.hoten}"></a>
                    <section class="flex gap-2">
                        <a th:if="${session.role == 'ROLE_NHANVIEN' || session.role == 'ROLE_QUANLY'}"
                            href="/admin/donhang/">
                            <img src="/svg/admin_panel.svg" alt="admin panel">
                        </a>
                        <a href="/logout">
                            <img src="/svg/logout.svg" alt="logout">
                        </a>
                    </section>
                </li>
                <li th:if="${session?.hoten == null}">
                    <a href="/login">
                        <img src="/svg/login.svg" alt="login">
                    </a>
                </li>
            </ul>
            <section id="phonesearch" class="absolute lg:hidden top-0 left-0 w-full h-full z-10" style="display: none;">
                <div onclick="closeSearch()" class="bg-black w-full h-screen absolute top-0 left-0 opacity-50"></div>
                <form action="/shop" class="flex mt-4 relative items-center h-[38px] w-max max-w-[395px] mx-auto">
                    <input id="searchPhoneInput" type="text" name="search" th:value="${search}" autocomplete="off"
                        class="outline-none block w-[295px] h-full px-2 placeholder:italic placeholder:text-gray-500 rounded-tl rounded-bl"
                        placeholder="Nhập từ khóa...">
                    <button
                        class="p-1 w-max max-w-[100px] h-full bg-gray-300 rounded-tr rounded-br text-black font-medium text-sm flex items-center">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </button>
                    <ul id="searchPhoneOutput"
                        class="absolute top-[38px] right-0 w-full h-max max-h-[190px] overflow-y-auto">
                    </ul>
                    <button id="closeSearch" type="button"
                        class="p-1 w-max max-w-[100px] h-full bg-none font-medium text-sm flex items-center">
                        <span class="material-symbols-outlined">
                            close
                        </span>
                    </button>
                </form>
            </section>
        </section>

        <script>
            document.addEventListener("scroll", function () {
                const header = document.getElementById("mainHeader");
                if (window.scrollY > 50) {
                    header.style.backgroundColor = "rgba(255, 255, 255, 0.7)"; // Màu trắng trong suốt
                } else {
                    header.style.backgroundColor = "rgba(255, 255, 255, 1)"; // Màu trắng full
                }
            });
            const phonesearch = document.getElementById("phonesearch");

            function closeSearch() {
                phonesearch.style.display = "none";
            }

            function openSearch() {
                phonesearch.style.display = "block";
            }

            document.getElementById("closeSearch").addEventListener("click", function () {
                closeSearch();
            });

            document.getElementById("openSearch").addEventListener("click", function () {
                openSearch();
            });
        </script>
        <script>
            const searchPhoneInput = document.getElementById('searchPhoneInput');
            const searchPhoneOutput = document.getElementById('searchPhoneOutput');
            let typingPhoneTimer; // Biến lưu trữ timeout
            const debouncePhoneTime = 500; // Thời gian chờ (ms)

            // Hàm gửi yêu cầu GET và xử lý kết quả
            const fetchPhoneSearchResults = async (query) => {
                try {
                    const response = await fetch(`/searchall?query=${encodeURIComponent(query)}`);
                    // if (!response.ok) {
                    //     throw new Error('Lỗi khi gửi yêu cầu tìm kiếm');
                    // }
                    const data = await response.json();
                    //console.log(data);

                    if (data.status) {
                        searchPhoneOutput.innerHTML = ''; // Xóa nội dung cũ
                        data.searchResults.forEach(item => {
                            const li = document.createElement('li');
                            li.className = 'h-[38px] w-full bg-gray-50 hover:bg-gray-100 cursor-pointer p-2 overflow-hidden';
                            const a = document.createElement('a');
                            a.href = "/sanpham/" + item.id;
                            a.textContent = item.ten;
                            li.appendChild(a);
                            searchPhoneOutput.appendChild(li);
                        });
                    } else {
                        searchPhoneOutput.innerHTML = `<li class="h-[38px] w-full bg-gray-50 p-2 text-gray-500">Không có kết quả</li>`;
                    }
                } catch (error) {
                    console.error('Lỗi:', error);
                }
            };

            // Xử lý sự kiện gõ phím
            searchPhoneInput.addEventListener('input', () => {
                clearTimeout(typingPhoneTimer);
                typingPhoneTimer = setTimeout(() => {
                    const query = searchPhoneInput.value.trim();
                    if (query) {
                        fetchPhoneSearchResults(query); // Gửi yêu cầu tìm kiếm
                    } else {
                        searchPhoneOutput.innerHTML = '';
                    }
                }, debouncePhoneTime);
            });

            searchPhoneInput.addEventListener('click', (event) => {
                searchPhoneOutput.style.display = 'block';
            });
            searchPhoneInput.addEventListener('blur', (event) => {
                setTimeout(() => {
                    searchPhoneOutput.style.display = 'none';
                }, 100);
            });
        </script>
    </header>
</div>