<div class="h-14 mb-4 w-full relative z-30" th:fragment="header">
    <header class="fixed z-10 h-14 w-full box-content py-2 bg-black">
        <section class="w-full xl:max-w-[1215px] max-w-[1021px] mx-auto flex items-center sm:pl-3 px-2">
            <a href="/" class="flex-shrink-0">
                <img src="/images/Logo.png" alt="Đăng Quang Watch" class="xl:block hidden w-[230px] h-14">
                <img src="/images/LogoMobile.png" alt="Đăng Quang Watch" class="xl:hidden w-[60px] h-14">
            </a>

            <button id="openSearch"
                class="rounded ml-auto sm:p-2 p-1 w-max max-w-[100px] h-full bg-yellow-400 text-black font-medium text-sm flex items-center">
                <span class="material-symbols-outlined">
                    search
                </span>
            </button>

            <ul class="flex sm:gap-4 gap-1 items-center text-sm text-white xl:mx-0 px-2">
                <li th:if="${session.role == 'ROLE_NHANVIEN' || session.role == 'ROLE_QUANLY'}" class="relative">
                    <a class="flex items-center gap-1" href="/admin/donhang/">
                        <span
                            class="material-symbols-outlined text-white hover:text-yellow-400 text-[28px] translate-y-[2px]">
                            folder_managed
                        </span>
                    </a>
                </li>
                <li class="relative">
                    <a class="flex items-center gap-1" href="/profile/giohang">
                        <span class="material-symbols-outlined text-yellow-400 text-[28px] translate-y-[2px]">
                            shopping_cart
                        </span>
                    </a>

                    <p id="cartnum"
                        class="-right-1 -top-1 px-[3px] w-max min-w-[16px] h-4 rounded-full absolute bg-white text-xs text-black text-center">
                        0</p>
                </li>
                <li class="flex flex-col sm:ml-0 ml-2" th:if="${session.hoten}">
                    <a class="hover:text-yellow-400 text-xs sm:text-base" href="/profile/donhang"
                        th:text="${session.hoten}"></a>
                    <a class="hover:text-yellow-400 text-xs sm:text-base underline" href="/logout">Đăng xuất</a>
                </li>
                <li th:if="${session?.hoten == null}">
                    <a class="hover:text-yellow-400 text-xs sm:text-base underline" href="/login">Đăng nhập</a>
                </li>
            </ul>
            <section id="phonesearch" class="absolute lg:hidden top-0 left-0 w-full h-full z-10" style="display: none;">
                <div onclick="closeSearch()" class="bg-black w-full h-screen absolute top-0 left-0 opacity-50"></div>
                <form th:action="${searchPath ?: ''}"
                    class="flex mt-4 relative items-center h-[38px] w-max max-w-[395px] mx-auto">
                    <input id="searchPhoneInput" type="text" name="search" th:value="${search}" autocomplete="off"
                        class="outline-none block w-[295px] h-full px-2 placeholder:italic placeholder:text-slate-500 rounded-tl rounded-bl"
                        placeholder="Nhập từ khóa...">
                    <button
                        class="p-1 w-max max-w-[100px] h-full bg-yellow-400 rounded-tr rounded-br text-black font-medium text-sm flex items-center">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </button>
                    <ul id="searchPhoneOutput"
                        class="absolute top-[38px] right-0 w-full h-max max-h-[190px] overflow-y-auto">
                    </ul>
                    <button id="closeSearch" type="button"
                        class="p-1 w-max max-w-[100px] h-full bg-none text-white font-medium text-sm flex items-center">
                        <span class="material-symbols-outlined">
                            close
                        </span>
                    </button>
                </form>
            </section>
        </section>

        <script>
            const phonesearch = document.getElementById("phonesearch");

            function closeSearch() {
                phonesearch.style.display = "none";
            }

            function openSearch() {
                phonesearch.style.display = "block";
            }

            document.getElementById("closeSearch").addEventListener("click", function () {
                closeSearch();
            });

            document.getElementById("openSearch").addEventListener("click", function () {
                openSearch();
            });
        </script>
        <script>
            const searchPhoneInput = document.getElementById('searchPhoneInput');
            const searchPhoneOutput = document.getElementById('searchPhoneOutput');
            let typingPhoneTimer; // Biến lưu trữ timeout
            const debouncePhoneTime = 500; // Thời gian chờ (ms)

            // Hàm gửi yêu cầu GET và xử lý kết quả
            const fetchPhoneSearchResults = async (query) => {
                try {
                    const response = await fetch(`/searchall?query=${encodeURIComponent(query)}`);
                    // if (!response.ok) {
                    //     throw new Error('Lỗi khi gửi yêu cầu tìm kiếm');
                    // }
                    const data = await response.json();
                    //console.log(data);

                    if (data.status) {
                        searchPhoneOutput.innerHTML = ''; // Xóa nội dung cũ
                        data.searchResults.forEach(item => {
                            const li = document.createElement('li');
                            li.className = 'h-[38px] w-full bg-slate-50 hover:bg-slate-100 cursor-pointer p-2 overflow-hidden';
                            const a = document.createElement('a');
                            a.href = "/sanpham/" + item.id;
                            a.textContent = item.ten;
                            li.appendChild(a);
                            searchPhoneOutput.appendChild(li);
                        });
                    } else {
                        searchPhoneOutput.innerHTML = `<li class="h-[38px] w-full bg-slate-50 p-2 text-gray-500">Không có kết quả</li>`;
                    }
                } catch (error) {
                    console.error('Lỗi:', error);
                }
            };

            // Xử lý sự kiện gõ phím
            searchPhoneInput.addEventListener('input', () => {
                clearTimeout(typingPhoneTimer);
                typingPhoneTimer = setTimeout(() => {
                    const query = searchPhoneInput.value.trim();
                    if (query) {
                        fetchPhoneSearchResults(query); // Gửi yêu cầu tìm kiếm
                    } else {
                        searchPhoneOutput.innerHTML = '';
                    }
                }, debouncePhoneTime);
            });

            searchPhoneInput.addEventListener('click', (event) => {
                searchPhoneOutput.style.display = 'block';
            });
            searchPhoneInput.addEventListener('blur', (event) => {
                setTimeout(() => {
                    searchPhoneOutput.style.display = 'none';
                }, 100);
            });
        </script>
    </header>
</div>