<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
  <nav id="sidebar" class="fixed z-10 left-0 top-0 p-2 bg-black box-content"
    style="height: 110vh; width: 32px;" th:fragment="sidebar">
    <section class="flex flex-col gap-3 text-white">
      <button class="flex items-center gap-3 w-full px-[9px] py-1 h-8 rounded whitespace-nowrap overflow-hidden">
        <img id="bars" class="flex-shrink-0 w-6 translate-x-[-5px] max-w-none" src="/svg/menu.svg" alt="menu">
        <img id="xmark" class="flex-shrink-0 w-6 translate-x-[-5px] max-w-none" style="display: hidden;"
          src="/svg/close.svg" alt="menu">
        <a href="/" style="width: calc(90% - 32px);">
          <div class="w-max mx-auto flex items-center gap-2">
            <p>
              Quản trị
            </p>
            <img src="/images/logoMobile.png" class="w-6 h-6" alt="logo">
          </div>
        </a>
      </button>
      <div class="flex items-center gap-2 px-1 mt-2">
        <p class="text-[11px] font-bold text-neutral-400 flex-shrink-0 separatorTitle hidden">SẢN PHẨM</p>
        <div class="w-full h-[1px] bg-neutral-400"></div>
      </div>
      <a id="sidebar_dongho" href="/admin/dongho/"
        class="flex items-center gap-3 w-full px-[9px] py-1 h-8 hover:bg-yellow-600 rounded whitespace-nowrap overflow-hidden">
        <img class="flex-shrink-0 w-6 translate-x-[-6px] max-w-none" style="display: hidden;" src="/svg/watch.svg"
          alt="watch">
        <p style="width: calc(90% - 32px);">
          Đồng hồ
        </p>
      </a>
      <a id="sidebar_kinhmat" href="/admin/kinhmat/"
        class="flex items-center gap-3 w-full px-[9px] py-1 h-8 hover:bg-yellow-600 rounded whitespace-nowrap overflow-hidden">
        <img class="flex-shrink-0 w-6 translate-x-[-6px] max-w-none" style="display: hidden;" src="/svg/glasses.svg"
          alt="glasses">
        <p style="width: calc(90% - 32px);">
          Kính mắt
        </p>
      </a>
      <a id="sidebar_phukien" href="/admin/phukien/"
        class="flex items-center gap-3 w-full px-[9px] py-1 h-8 hover:bg-yellow-600 rounded whitespace-nowrap overflow-hidden">
        <img id="xmark" class="flex-shrink-0 w-6 translate-x-[-6px] max-w-none" style="display: hidden;"
          src="/svg/accessories.svg" alt="accessories">
        <p style="width: calc(90% - 32px);">
          Phụ kiện
        </p>
      </a>
      <a id="sidebar_trangsuc" href="/admin/trangsuc/"
        class="flex items-center gap-3 w-full px-[9px] py-1 h-8 hover:bg-yellow-600 rounded whitespace-nowrap overflow-hidden">
        <img class="flex-shrink-0 w-6 translate-x-[-6px] max-w-none" style="display: hidden;" src="/svg/diamond.svg"
          alt="diamond">
        <p style="width: calc(90% - 32px);">
          Trang sức
        </p>
      </a>
      <a id="sidebar_butky" href="/admin/butky/"
        class="flex items-center gap-3 w-full px-[9px] py-1 h-8 hover:bg-yellow-600 rounded whitespace-nowrap overflow-hidden">
        <img class="flex-shrink-0 w-6 translate-x-[-6px] max-w-none" style="display: hidden;" src="/svg/ink_pen.svg"
          alt="ink_pen">
        <p style="width: calc(90% - 32px);">
          Bút ký
        </p>
      </a>

      <div class="flex items-center gap-2 px-1 mt-2">
        <p class="text-[11px] font-bold text-neutral-400 flex-shrink-0 separatorTitle hidden">DANH MỤC</p>
        <div class="w-full h-[1px] bg-neutral-400"></div>
      </div>
      <a id="sidebar_donhang" href="/admin/donhang/"
        class="flex items-center gap-3 w-full px-[9px] py-1 h-8 hover:bg-yellow-600 rounded whitespace-nowrap overflow-hidden">
        <img class="flex-shrink-0 w-6 translate-x-[-6px] max-w-none" style="display: hidden;" src="/svg/order.svg"
          alt="order">
        <p style="width: calc(90% - 32px);">
          Đơn hàng
        </p>
      </a>
      <a th:if="${session.role == 'ROLE_QUANLY'}" id="sidebar_thongke" href="/admin/thongke/"
        class="flex items-center gap-3 w-full px-[9px] py-1 h-8 hover:bg-yellow-600 rounded whitespace-nowrap overflow-hidden">
        <img class="flex-shrink-0 w-6 translate-x-[-6px] max-w-none" style="display: hidden;" src="/svg/chart.svg"
          alt="chart">
        <p style="width: calc(90% - 32px);">
          Thống kê
        </p>
      </a>
      <a id="sidebar_lichsukho" href="/admin/lichsukho/"
        class="flex items-center gap-3 w-full px-[9px] py-1 h-8 hover:bg-yellow-600 rounded whitespace-nowrap overflow-hidden">
        <img class="flex-shrink-0 w-[28px] translate-x-[-8px] max-w-none" style="display: hidden;"
          src="/svg/inventory.svg" alt="inventory">
        <p style="width: calc(90% - 32px);">
          Lịch sử kho
        </p>
      </a>

      <div class="flex items-center gap-2 px-1 mt-2">
        <p class="text-[11px] font-bold text-neutral-400 flex-shrink-0 separatorTitle hidden">TÀI KHOẢN</p>
        <div class="w-full h-[1px] bg-neutral-400"></div>
      </div>
      <a id="sidebar_khachhang" href="/admin/khachhang/"
        class="flex items-center gap-3 w-full px-[9px] py-1 h-8 hover:bg-yellow-600 rounded whitespace-nowrap overflow-hidden">
        <img class="flex-shrink-0 w-[30px] translate-x-[-8px] max-w-none" style="display: hidden;"
          src="/svg/khachhang.svg" alt="khachhang">
        <p style="width: calc(90% - 32px);">
          Khách hàng
        </p>
      </a>
      <a th:if="${session.role == 'ROLE_QUANLY'}" id="sidebar_accounts" href="/admin/accounts/"
        class="flex items-center gap-3 w-full px-[9px] py-1 h-8 hover:bg-yellow-600 rounded whitespace-nowrap overflow-hidden">
        <img class="flex-shrink-0 w-[30px] translate-x-[-8px] max-w-none" style="display: hidden;"
          src="/svg/nhanvien.svg" alt="nhanvien">
        <p style="width: calc(90% - 32px);">
          Nhân viên
        </p>
      </a>

      <a id="sidebar_returnhome" href="/"
        class="flex items-center gap-3 w-full px-[9px] py-1 h-8 hover:bg-yellow-600 rounded whitespace-nowrap overflow-hidden">
        <img class="flex-shrink-0 w-[30px] translate-x-[-8px] max-w-none" style="display: hidden;"
          src="/svg/cuahang.svg" alt="cuahang">
        <p style="width: calc(90% - 32px);">
          Về cửa hàng
        </p>
      </a>
    </section>
    <script>
      const sidebar = document.getElementById("sidebar");
      const bars = document.getElementById("bars");
      const xmark = document.getElementById("xmark");

      bars.addEventListener('click', () => {
        sidebar.style.width = "260px";
        bars.style.display = "none";
        xmark.style.display = "block";
        document.querySelectorAll("p.separatorTitle").forEach(p => {
          p.style.display = "block";
        });
      });

      xmark.addEventListener('click', () => {
        sidebar.style.width = "32px";
        xmark.style.display = "none";
        bars.style.display = "block";
        document.querySelectorAll("p.separatorTitle").forEach(p => {
          p.style.display = "none";
        });
      });

      function glowButton(btnId) {
        const btn = document.getElementById("sidebar_" + btnId);
        btn.style.backgroundColor = "#eab308";
      }

      function updateSidebar() {
        const path = location.pathname.split("/", 3)[2].toLowerCase();
        switch (path) {
          case "dongho":
          case "kinhmat":
          case "phukien":
          case "trangsuc":
          case "butky":
          case "donhang":
          case "thongke":
          case "khachhang":
          case "accounts":
          case "lichsukho":
            glowButton(path);
            break;
          default:
            glowButton("returnhome")
            break;
        }
      }

      updateSidebar();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <script src="/js/notification.js"></script>
    <script>
      const socket = new SockJS('http://localhost:8080/ws'); // Kết nối với WebSocket endpoint
      const stompClient = Stomp.over(socket);

      stompClient.connect({}, function (frame) {
        // Lắng nghe thông báo từ "/topic/notifications"
        stompClient.subscribe('/topic/notifications', function (message) {
          const data = JSON.parse(message.body);
          showNotification(data);
        });
      });
    </script>
  </nav>
</body>

</html>