<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
  <meta charset="UTF-8">
  <title>Thêm phụ kiện</title>
  <link rel="stylesheet" th:href="@{/css/application.css}">
</head>

<body>
  <div th:replace="~{fragments/sidebar :: sidebar}"></div>
  <div class="p-4 w-max bg-slate-50 shadow-sm rounded-lg ml-auto">
    <h1 class="font-bold text-center my-2">Thêm mới</h1>
    <div class="col-md-auto">
      <form th:object="${phuKien}" th:action="@{/admin/phukien/save}" action="#" method="post">
        <div>
          <label class="block font-medium" th:for="tenPhuKien">Tên sản phẩm</label>
          <input class="block p-2 w-[80vw] min-w-[280px]" type="text" th:field="*{tenPhuKien}"
            placeholder="Tên sản phẩm" />
        </div>

        <div style="clear: both; display: block; height: 10px"></div>
        <div>
          <label class="block font-medium" th:for="soLuong">Số lượng</label>
          <input class="block p-2 w-[80vw] min-w-[280px]" type="number" th:field="*{soLuong}" placeholder="0" />
        </div>

        <div style="clear: both; display: block; height: 10px"></div>
        <div>
          <label class="block font-medium" th:for="giaTien">Giá tiền</label>
          <input class="block p-2 w-[80vw] min-w-[280px]" type="number" th:field="*{giaTien}" placeholder="3.000.000" />
        </div>

        <div style="clear: both; display: block; height: 10px"></div>
        <div>
          <label class="block font-medium" th:for="traGop">Trả góp</label>
          <input class="block p-2 w-[80vw] min-w-[280px]" type="number" th:field="*{traGop}" placeholder="0%" />
        </div>

        <div style="clear: both; display: block; height: 10px"></div>
        <div>
          <label class="block font-medium" th:for="thongTin">Thông tin</label>
          <textarea class="w-[80vw] min-w-[280px]" rows="20" th:field="*{thongTin}"></textarea>
        </div>

        <input type="date" id="datePicker" class="hidden" name="NGAYTHEM" />

        <div style="clear: both; display: block; height: 10px"></div>
        <input type="submit" class="p-2 w-max bg-green-500 rounded block mt-4 text-white" value="Lưu" />
      </form>
    </div>
  </div>
  <script>
    document.getElementById('datePicker').valueAsDate = new Date();
  </script>
</body>

</html>