<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="/images/LogoMobile.png">
  <title>Thêm phụ kiện</title>
  <link rel="stylesheet" th:href="@{/css/application.css}">
</head>

<body>
  <div th:replace="~{fragments/sidebar :: sidebar}"></div>
  <div class="p-4 w-max bg-slate-50 shadow-sm rounded-lg mx-auto">
    <h1 class="font-bold text-center my-2">Phụ kiện mới</h1>
    <div class="col-md-auto">
      <form th:object="${phuKien}" th:action="@{/admin/phukien/save}" action="#" method="post"
        enctype="multipart/form-data">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="file">Chọn ảnh:</label>
          <input type="file" id="file" name="file" class="form-input mt-1 block w-full" multiple="multiple"
            accept="image/*" onchange="previewImages(event)" required>
        </div>
        <div id="preview-container" class="mb-4 flex flex-wrap">
          <!-- Images preview will be shown here -->
        </div>
        <div>
          <label class="block font-medium" th:for="tenPhuKien">Tên sản phẩm</label>
          <input class="block p-2 w-[80vw] min-w-[280px]" type="text" th:field="*{tenPhuKien}"
            placeholder="Tên sản phẩm" />
        </div>
        <div style="clear: both; display: block; height: 10px"></div>
        <div>
          <label class="block font-medium" th:for="soLuong">Số lượng</label>
          <input class="block p-2 w-[80vw] min-w-[280px]" type="number" th:field="*{soLuong}" placeholder="Số lượng" />
        </div>
        <div style="clear: both; display: block; height: 10px"></div>
        <div>
          <label class="block font-medium" th:for="giaTien">Giá tiền</label>
          <input class="block p-2 w-[80vw] min-w-[280px]" type="number" th:field="*{giaTien}" placeholder="Giá tiền" />
        </div>
        <div style="clear: both; display: block; height: 10px"></div>
        <div>
          <label class="block font-medium" th:for="traGop">Trả góp</label>
          <input class="block p-2 w-[80vw] min-w-[280px]" type="number" th:field="*{traGop}" placeholder="Trả góp" />
        </div>

        <div style="clear: both; display: block; height: 10px"></div>
        <div>
          <label class="block font-medium" th:for="thongTin">Thông tin</label>
          <textarea class="w-[80vw] min-w-[280px] p-2" rows="5" th:field="*{thongTin}"
            placeholder="Thông tin srản phẩm"></textarea>
        </div>

        <input type="date" id="datePicker" class="hidden" name="NGAYTHEM" />

        <div style="clear: both; display: block; height: 10px"></div>
        <input type="submit" class="p-2 w-max bg-green-500 rounded block mt-4 text-white" value="Thêm" />
      </form>
    </div>
  </div>
  <script>
    document.getElementById('datePicker').valueAsDate = new Date();

    function previewImages(event) {
      var files = event.target.files;
      var container = document.getElementById('preview-container');
      container.innerHTML = '';
      for (var i = 0; i < files.length; i++) {
        var reader = new FileReader();
        reader.onload = function (e) {
          var img = document.createElement('img');
          img.src = e.target.result;
          img.classList.add('w-32', 'h-32', 'object-cover', 'm-2');
          container.appendChild(img);
        };
        reader.readAsDataURL(files[i]);
      }
    }
  </script>
</body>

</html>