<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
  <meta charset="UTF-8">
  <title>Thêm phụ kiện</title>
  <link rel="stylesheet" th:href="@{/css/application.css}">
</head>

<body>
  <div class="p-4 w-max bg-slate-50 shadow-sm rounded-lg mx-auto">
    <h1 class="font-bold text-center my-2">Thêm mới</h1>
    <div class="col-md-auto">
      <form th:object="${phuKien}" th:action="@{/admin/phukien/save}" action="#" method="post">
        <div>
          <label class="block font-medium" th:text="Tên sản phẩm" th:for="tenPhuKien"></label>
          <input class="block p-2 w-[200px]" type="text" th:field="*{tenPhuKien}" class="form-control" placeholder="Tên sản phẩm" />
        </div>

        <div style="clear: both; display: block; height: 10px"></div>
        <div>
          <label class="block font-medium" th:text="Số lượng" th:for="soLuong"></label>
          <input class="block p-2 w-[200px]" type="number" th:field="*{soLuong}" class="form-control" placeholder="0" />
        </div>

        <div style="clear: both; display: block; height: 10px"></div>
        <div>
          <label class="block font-medium" th:text="Giá tiền" th:for="giaTien"></label>
          <input class="block p-2 w-[200px]" type="number" th:field="*{giaTien}" class="form-control" placeholder="3.000.000" />
        </div>

        <div style="clear: both; display: block; height: 10px"></div>
        <div>
          <label class="block font-medium" th:text="Trả góp" th:for="traGop"></label>
          <input class="block p-2 w-[200px]" type="number" th:field="*{traGop}" class="form-control" placeholder="0%" />
        </div>

        <div style="clear: both; display: block; height: 10px"></div>
        <div>
          <label class="block font-medium" th:text="Thông tin" th:for="thongTin"></label>
          <textarea rows="20" th:field="*{thongTin}" class="form-control"></textarea>
        </div>

        <div style="clear: both; display: block; height: 10px"></div>
        <input class="block p-2 w-[200px]" type="submit" class="p-2 w-max bg-green-500 rounded block mt-4 text-white" value="Lưu" />
      </form>
    </div>
  </div>
</body>

</html>