<!DOCTYPE html>  
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">  
<head>  
    <title>Quản lý phụ kiện</title>  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
    <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}"/>  
</head>  
<body>  
<div class="col-3"></div>  
<div class="container col-6">  
    <h1>Quản lý phụ kiện</h1>  
    <table class="table table-active">  
        <tr>  
            <th>Mã</th>  
            <th>Tên phụ kiện</th>  
            <th>Giá tiền</th>  
            <th>Số lượng</th>   
            <th>Trả góp</th>  
            <th>Thông tin</th>  
            <th>Ngày thêm</th>  
        </tr>  
        <tr th:each="phuKien : ${phuKiens}">  
            <td th:text="${phukien.maPhuKien}"></td>  
            <td th:text="${phukien.tenSanPham}"></td>  
            <td th:text="${phukien.giaTien}"></td>  
            <td th:text="${phukien.soLuong}"></td> 
            <td th:text="${phukien.traGop}"></td>  
            <td th:text="${phukien.thongTin}"></td>  
            <td th:text="${phukien.ngayThem}"></td>  
            <td>  
                <a th:href="@{/admin/phukien/edit?id={id}(id=${phukien.maPhuKien})}" class="btn btn-primary">Sửa</a>  
                <a th:href="@{/admin/phukien/delete?id={id}(id=${phukien.maPhuKien})}" class="btn btn-danger">Xóa</a>  
            </td>  
        </tr>  
    </table>  
    <a href="/admin/phukien/add" class="btn btn-success">Thêm mới</a>  
</div>  
</body>  
</html>