<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <link rel="icon" type="image/png" href="/images/LogoMobile.png">
    <title>Quản lý phụ kiện</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="p-4 w-full bg-slate-50 shadow-sm rounded-lg md:mx-auto pl-11">
        <h1 class="font-bold text-center my-2">Quản lý phụ kiện</h1>
        <form action="" class="w-full flex flex-col gap-2 my-2">
            <section>
                <label class="block font-medium" for="search">Tìm kiếm</label>
                <input class="p-2 rounded block w-full outline-none border border-black" type="text" name="search"
                    th:value="${search}" placeholder="Tìm kiếm">
            </section>
            <section class="grid sm:grid-cols-2 grid-cols-1 gap-2">
                <div>
                    <label class="block font-medium" for="from">Từ ngày</label>
                    <input class="block p-2 w-full border border-black rounded" type="date" name="from" id="from"
                        th:value="${from}">
                </div>
                <div>
                    <label class="block font-medium" for="to">Đến ngày</label>
                    <input class="block p-2 w-full border border-black rounded" type="date" name="to" id="to"
                        th:value="${to}">
                </div>
            </section>
            <section class="flex items-center gap-1">
                <button class="p-2 w-max my-2 bg-blue-500 rounded block text-white flex-shrink-0">Tìm kiếm</button>
                <a href="/admin/phukien/add" class="p-2 w-max bg-green-500 rounded block text-white">Thêm phụ kiện</a>
            </section>
            <ul th:if="${sotrang > 1}" class="flex items-center flex-wrap w-full sm:gap-2 gap-1 my-4">
                <li>Trang:</li>
                <li th:each="i:${#numbers.sequence(1,sotrang,1)}">
                    <a th:classappend="${page + 1 == i} ? 'bg-black text-white pointer-events-none' : 'bg-white text-black'"
                        class="p-2 aspect-square border border-b hover:text-blue-500"
                        th:href="@{'/admin/phukien/?search=' + ${search} + '&page=' + ${i} + '&from=' + ${from} + '&to=' + ${to}}"
                        th:text="${i}"></a>
                </li>
            </ul>
        </form>
        <section class="w-full overflow-x-auto">
            <table class="w-max mx-auto">
                <tr>
                    <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">
                        Mã
                    </th>
                    <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">
                        Tên
                        phụ kiện</th>
                    <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">
                        Giá
                        tiền</th>
                    <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">
                        Số
                        lượng</th>
                    <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">
                        Trả
                        góp</th>
                    <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">
                        Thông
                        tin</th>
                    <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">
                        Ngày
                        thêm</th>
                    <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">
                        Tùy
                        chọn</th>
                </tr>
                <tr th:each="phuKien : ${phuKiens}">
                    <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden"
                        th:text="${phuKien.getMaPhuKien()}"></td>
                    <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden">
                        <a th:href="${'/phukien/' + phuKien.getMaPhuKien()}" th:text="${phuKien.getTenPhuKien()}"
                            class="hover:text-yellow-500" target="_blank"></a>
                    </td>
                    <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden"
                        th:text="${phuKien.getGiaTien()}"></td>
                    <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden">
                        <p th:text="${phuKien.getSoLuong()}"></p>
                        <p class="text-orange-500" th:text="${'Đặt: ' + phuKien.getSoluongdatmua()}"></p>
                    </td>
                    <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden"
                        th:text="${phuKien.getTraGop()}"></td>
                    <td class="max-h-[200px] p-2 border border-solid border-black max-w-[200px] overflow-hidden">
                        <p class="max-h-[200px] overflow-hidden" th:text="${phuKien.getThongTin()}"></p>
                    </td>
                    <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden"
                        th:text="${phuKien.getNGAYTHEM()}"></td>
                    <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden">
                        <a class="block w-max text-center my-1 p-2 rounded bg-green-500 text-white"
                            th:href="@{/admin/phukien/edit?id={id}(id=${phuKien.getMaPhuKien()})}">Sửa</a>
                        <a th:href="@{/admin/phukien/nhap?id={id}(id=${phuKien.getMaPhuKien()})}"
                            class="block w-max text-center my-1 p-2 rounded bg-purple-500 text-white">Nhập</a>
                        <a th:href="@{/admin/phukien/xuat?id={id}(id=${phuKien.getMaPhuKien()})}"
                            class="block w-max text-center my-1 p-2 rounded bg-orange-500 text-white">Xuất</a>
                        <button th:if="${phuKien.kichhoat == 1}" class="block w-max text-center my-1 p-2 rounded bg-red-500 text-white"
                            th:data-id="${phuKien.getMaPhuKien()}" onclick="confirmDeactivate(this);">Tắt</button>
                        <button th:if="${phuKien.kichhoat == 0}" class="block w-max text-center my-1 p-2 rounded bg-blue-500 text-white"
                            th:data-id="${phuKien.getMaPhuKien()}" onclick="confirmActivate(this);">Bật</button>
                    </td>
                </tr>
            </table>
        </section>
    </div>
    <script src="/js/sweetalert.min.js"></script>
    <script>
        function confirmDeactivate(element) {
            const id = element.getAttribute('data-id'); // Lấy giá trị từ data-attribute

            Swal.fire({
                title: 'Bạn có chắc chắn muốn tắt?',
                text: "Sản phẩm sẽ ngưng bán!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Vâng, tắt nó!',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = `/admin/phukien/deactivate?id=${id}`;
                }
            });
        }

        function confirmActivate(element) {
            const id = element.getAttribute('data-id'); // Lấy giá trị từ data-attribute

            Swal.fire({
                title: 'Bạn có chắc chắn muốn bật?',
                text: "Sản phẩm sẽ quay lại bán!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Vâng, bật nó!',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = `/admin/phukien/activate?id=${id}`;
                }
            });
        }
    </script>
    <script th:inline="javascript">
        const errorMessage = /*[[${errorMessage}]]*/ '';
        if (errorMessage) {
            showNotification(
                {
                    title: "Lỗi",
                    message: errorMessage,
                    type: "error"
                }
            );
        }
    </script>
</body>

</html>