<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/images/LogoMobile.png">
  <title>Đăng ký</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
  <link rel="stylesheet" th:href="@{/css/application.css}">
</head>

<body class="bg-slate-200">
  <header class="h-14 w-full box-content py-2 bg-black">
    <section class="w-full max-w-[1215px] mx-auto flex items-center pl-3">
      <a href="/" class="mx-auto">
        <img src="/images/LogoMobile.png" alt="Đăng Quang Watch" class="w-16 h-16">
      </a>
    </section>
  </header>

  <div class="flex flex-col gap-4 items-center mx-auto mt-4">
    <form method="post" action="/dangky" class="flex flex-col gap-2 rounded-lg shadow shadow-black bg-white p-4">
      <h1 class="text-2xl font-bold text-center my-2">Đăng ký</h1>
      <div>
        <label class="block font-medium" for="username">Email:</label>
        <input class="block p-2 max-w-[300px] w-screen rounded border border-black overflow-hidden" type="email"
          name="username" placeholder="user@emai.com" th:value="${email ?: ''}" required>
      </div>
      <div>
        <label class="block font-medium" for="password">Mật khẩu:</label>
        <section class="relative max-w-[300px] w-screen">
          <input class="block relative p-2 w-full rounded border border-black overflow-hidden" type="password"
            name="password" id="password" placeholder="P@ssword12345" th:value="${password ?: ''}" required>
          <button id="visibilityOn" type="button" class="absolute top-3 right-3">
            <img src="/svg/visibility.svg" alt="Xem mật khẩu" class="w-5 h-5 opacity-10 hover:opacity-100">
          </button>
          <button id="visibilityOff" type="button" class="absolute top-3 right-3" style="display: none;">
            <img src="/svg/visibility_off.svg" alt="Xem mật khẩu" class="w-5 h-5 opacity-10 hover:opacity-100">
          </button>
        </section>
        <ul class="text-sm text-slate-500 ml-2 my-2">
          <li class="flex items-center gap-1 pointer-events-none">
            <input type="checkbox" name="passwordCheck" id="passwordLength" class="block" required>
            <label id="passwordLengthLabel" for="passwordLength">Độ dài tối thiểu là 8 ký tự.</label>
          </li>
          <li class="flex items-center gap-1 pointer-events-none">
            <input type="checkbox" name="passwordCheck" id="passwordReq1" class="block" required>
            <label id="passwordReq1Label" for="passwordReq1">Bao gồm cả chữ hoa, chữ thường và số.</label>
          </li>
          <li class="flex items-center gap-1 pointer-events-none">
            <input type="checkbox" name="passwordCheck" id="passwordReq2" class="block" required>
            <label id="passwordReq2Label" for="passwordReq2">Bao gồm ký tự đặc biệt như: @, #, $,...</label>
          </li>
        </ul>
      </div>
      <div>
        <label class="block font-medium" for="hoten">Họ tên:</label>
        <input class="block p-2 max-w-[300px] w-screen rounded border border-black overflow-hidden" type="text"
          name="hoten" placeholder="Họ tên" th:value="${hoten ?: ''}" required>
      </div>
      <div>
        <label class="block font-medium" for="diachi">Địa chỉ:</label>
        <input th:value="${diachi ?: ''}" type="hidden" id="diachi" name="diachi" placeholder="Địa chỉ" required>
        <div class="flex flex-col items-center gap-2">
          <select id="provinceSelect" class="border border-black rounded block p-2 w-full"
            onchange="populateDistricts()" required>
            <option value="">Chọn tỉnh/thành phố</option>
          </select>
          <select id="districtSelect" class="border border-black rounded block p-2 w-full" onchange="populateWards()"
            required>
            <option value="">Chọn quận/huyện</option>
          </select>
          <select id="wardSelect" class="border border-black rounded block p-2 w-full" onchange="updateAddress()"
            required>
            <option value="">Chọn phường/xã</option>
          </select>
          <input id="extraAddress" placeholder="Địa chỉ nhà" class="border border-black rounded block p-2 w-full"
            type="text" oninput="updateAddress()" required />
        </div>
      </div>
      <div class="flex items-center gap-2 my-4 mx-auto">
        <button class="block p-2 w-max bg-blue-500 font-bold text-white rounded" type="submit">Đăng ký</button>
        <div class="flex items-center gap-1 text-sm">
          <input required type="checkbox" name="agree" id="agree" class="block">
          <label for="agree">Đồng ý với <a class="text-blue-500 underline" href="/">Điều khoản</a></label>
        </div>
      </div>
      <p class="text-sm w-max mx-auto">Đã có tài khoản? <a class="text-blue-500 underline" href="/login">Đăng nhập</a>
      </p>
    </form>
  </div>
  <script src="/js/address.js"></script>
  <script>
    const password = document.getElementById("password");
    const visibilityOn = document.getElementById("visibilityOn");
    const visibilityOff = document.getElementById("visibilityOff");
    const passwordLength = document.getElementById("passwordLength");
    const passwordReq1 = document.getElementById("passwordReq1");
    const passwordReq2 = document.getElementById("passwordReq2");
    const passwordLengthLabel = document.getElementById("passwordLengthLabel");
    const passwordReq1Label = document.getElementById("passwordReq1Label");
    const passwordReq2Label = document.getElementById("passwordReq2Label");

    password.addEventListener("input", (event) => {
      if (event.target.value.length == 0) {
        passwordLengthLabel.style.color = "#64748b";
        passwordLength.checked = false;
        passwordReq1Label.style.color = "#64748b";
        passwordReq1.checked = false;
        passwordReq2Label.style.color = "#64748b";
        passwordReq2.checked = false;

        return;
      }

      if (event.target.value.length >= 8) {
        passwordLengthLabel.style.color = "#3b82f6";
        passwordLength.checked = true;
      } else {
        passwordLengthLabel.style.color = "#ef4444";
        passwordLength.checked = false;
      }

      if (event.target.value.match(/[a-z]/g) && event.target.value.match(/[A-Z]/g) && event.target.value.match(/[0-9]/g)) {
        passwordReq1Label.style.color = "#3b82f6";
        passwordReq1.checked = true;
      } else {
        passwordReq1Label.style.color = "#ef4444";
        passwordReq1.checked = false;
      }

      if (event.target.value.match(/[@#\$%\^&\*\+\-\_\=\|\:\;\?\<\>\(\)\[\]\{\}\.]/g)) {
        passwordReq2Label.style.color = "#3b82f6";
        passwordReq2.checked = true;
      } else {
        passwordReq2Label.style.color = "#ef4444";
        passwordReq2.checked = false;
      }
    });

    visibilityOn.addEventListener("click", () => {
      password.type = "text";
      visibilityOn.style.display = "none";
      visibilityOff.style.display = "block";
    });

    visibilityOff.addEventListener("click", () => {
      password.type = "password";
      visibilityOn.style.display = "block";
      visibilityOff.style.display = "none";
    });
  </script>
  <script th:inline="javascript">
    const provinceValue = /*[[${province}]]*/ '';
    const districtValue = /*[[${district}]]*/ '';
    const wardValue = /*[[${ward}]]*/ '';
    const extraAddressValue = /*[[${extra}]]*/ '';

    async function fillUserAddress() {
      await fillProvince();

      if (provinceValue && districtValue && wardValue) {
        const province = document.getElementById("provinceSelect");
        const district = document.getElementById("districtSelect");
        const ward = document.getElementById("wardSelect");
        const extraAddress = document.getElementById("extraAddress");

        Array.from(province.options).forEach(option => {
          if (option.text === provinceValue) {
            option.selected = true;
          }
        });
        await populateDistricts();
        Array.from(district.options).forEach(option => {
          if (option.text === districtValue) {
            option.selected = true;
          }
        });
        await populateWards();
        Array.from(ward.options).forEach(option => {
          if (option.text === wardValue) {
            option.selected = true;
          }
        });
        extraAddress.value = extraAddressValue;
      }
    }
    fillUserAddress();
    updateAddress();
  </script>
  <script src="/js/notification.js"></script>
  <script th:inline="javascript">
    const errorMessage = /*[[${errorMessage}]]*/ '';
    if (errorMessage) {
      showNotification(
        {
          title: "Lỗi",
          message: errorMessage,
          type: "error"
        }
      );
    }

    const notifMessage = /*[[${notification}]]*/ '';
    if (notifMessage) {
      showNotification(
        {
          title: "Thông báo",
          message: notifMessage,
          type: "info"
        }
      );
    }
  </script>
</body>

</html>