<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/images/LogoMobile.png">
  <title>Các đơn hàng của bạn</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
  <link rel="stylesheet" th:href="@{/css/application.css}">
</head>

<body class="bg-slate-200 overflow-x-hidden">
  <div th:replace="~{fragments/header :: header}"></div>
  <div th:replace="~{fragments/productsbar :: productsbar}"></div>
  <div class="w-full xl:max-w-[1215px] max-w-[1021px] mx-auto my-9 min-h-[85vh]">
    <div class="flex gap-2 w-max mx-auto items-end">
      <h1 class="p-2 bg-slate-400 rounded-tl rounded-tr text-xl hover:text-yellow-500"><a
          href="/profile/doithongtin">Đổi thông tin</a></h1>
      <h1 class="p-2 bg-white rounded-tl rounded-tr text-xl text-yellow-500 font-bold underline"><a
          href="/profile/donhang">Đơn hàng</a></h1>
      <h1 class="p-2 bg-slate-400 rounded-tl rounded-tr text-xl hover:text-yellow-500"><a href="/profile/giohang">Giỏ
          hàng</a></h1>
    </div>
    <div class="bg-white shadow-md rounded-lg overflow-hidden p-4 min-h-[800px]">
      <form action="" class="w-full mx-auto flex flex-col gap-4 text-sm mb-6">
        <section class="w-full grid md:grid-cols-3 gap-3 mx-auto">
          <div>
            <label class="block font-medium mb-1" for="search">Tìm kiếm</label>
            <input class="block px-3 py-2 w-full border border-slate-300 rounded" type="text" name="search"
              th:value="${search}" placeholder="Tìm kiếm">
          </div>
          <div>
            <label class="block font-medium mb-1" for="tinhtrang">Tình trạng</label>
            <select class="block px-3 py-2 w-full border border-slate-300 rounded" name="tinhtrang" id="tinhtrang" th:value>
              <option value="">Chưa chọn</option>
              <option th:each="tt : ${tinhtrang_options}" th:value="${tt}" th:text="${tt}"
                th:selected="${tt == tinhtrang}">
              </option>
            </select>
          </div>
          <div>
            <label class="block font-medium mb-1" for="thanhtoan">Thanh toán</label>
            <select class="block px-3 py-2 w-full border border-slate-300 rounded" name="thanhtoan" id="thanhtoan" th:value>
              <option value="">Chưa chọn</option>
              <option th:each="tt : ${thanhtoan_options}" th:value="${tt}" th:text="${tt}"
                th:selected="${tt == thanhtoan}">
              </option>
            </select>
          </div>
        </section>
        <section class="grid grid-cols-2 gap-2">
          <div>
            <label class="block font-medium mb-1" for="from">Từ ngày</label>
            <input class="block px-3 py-2 w-full border border-slate-300 rounded" type="date" name="from" id="from"
              th:value="${from}">
          </div>
          <div>
            <label class="block font-medium mb-1" for="to">Đến ngày</label>
            <input class="block px-3 py-2 w-full border border-slate-300 rounded" type="date" name="to" id="to" th:value="${to}">
          </div>
        </section>
        <button class="py-2 px-4 font-medium w-max bg-blue-500 rounded block text-white flex-shrink-0">Tìm kiếm</button>
      <ul th:if="${sotrang > 1}" class="flex items-center flex-wrap w-full">
        <li class="mr-2">Trang:</li>
        <li 
          th:classappend="${page + 1 == i} ? 'bg-blue-500 text-white pointer-events-none' : 'bg-white text-black'"
          class="py-2 px-3 border hover:text-blue-500"
          th:each="i:${#numbers.sequence(1,sotrang,1)}">
            <a 
              th:href="@{'?page=' + ${i} + '&search=' + ${search} + '&from=' + ${from} + '&to=' + ${to} + '&tinhtrang=' + ${tinhtrang} + '&thanhtoan=' + ${thanhtoan}}"
              th:text="${i}"></a>
          </li>
        </ul>
      </form>
      <section class="w-full overflow-x-auto text-sm">
        <table class="sm:w-full w-max mx-auto text-neutral-800">
          <tr>
            <th class="bg-slate-200 font-medium border border-slate-300 p-2 text-left max-w-[200px]">Mã đơn
            </th>
            <th class="bg-slate-200 font-medium border border-slate-300 p-2 text-left max-w-[200px]">Tổng tiền
            </th>
            <th class="bg-slate-200 font-medium border border-slate-300 p-2 text-left max-w-[200px]">Địa chỉ
            </th>
            <th class="bg-slate-200 font-medium border border-slate-300 p-2 text-left max-w-[200px]">Ghi chú
            </th>
            <th class="bg-slate-200 font-medium border border-slate-300 p-2 text-left max-w-[200px]">Tình
              trạng
            </th>
            <th class="bg-slate-200 font-medium border border-slate-300 p-2 text-left max-w-[200px]">Thanh
              toán
            </th>
            <th class="bg-slate-200 font-medium border border-slate-300 p-2 text-left max-w-[200px]">Sản phẩm
              mua
            </th>
            <th class="bg-slate-200 font-medium border border-slate-300 p-2 text-left max-w-[200px]">Ngày thêm
            </th>
            <th class="bg-slate-200 font-medium border border-slate-300 p-2 text-left max-w-[200px]">Tùy chỉnh
            </th>
          </tr>
          <tr th:if="${donhangs.size() < 1}">
            <td colspan="9" class="text-center w-full p-2 border border-solid border-black">Bạn chưa có đơn hàng nào
            </td>
          </tr>
          <tr th:each="donhang : ${donhangs}">
            <td class="p-2 border border-slate-300 max-w-[200px] overflow-auto"
              th:text="${donhang.getMaDonHang()}"></td>
            <td class="p-2 border border-slate-300 max-w-[200px] overflow-auto"
              th:text="${donhang.getTongTienFormatted()}"></td>
            <td class="p-2 border border-slate-300 max-w-[200px] overflow-auto"
              th:text="${donhang.getDiaChi()}">
            </td>
            <td class="p-2 border border-slate-300 max-w-[200px] overflow-auto"
              th:text="${donhang.getGhiChu() ?: ''}">
            </td>
            <td class="p-2 border border-slate-300 max-w-[200px] overflow-auto">
              <a href="?tinhtrang=Chờ+thanh+toán" class="text-red-500"
                th:if="${donhang.getTinhTrang() == 'Chờ thanh toán'}">Chờ thanh toán
              </a>
              <a href="?tinhtrang=Chờ+xác+nhận" class="text-orange-500"
                th:if="${donhang.getTinhTrang() == 'Chờ xác nhận'}">Chờ xác nhận
              </a>
              <a href="?tinhtrang=Đã+xác+nhận" class="text-blue-500"
                th:if="${donhang.getTinhTrang() == 'Đã xác nhận'}">Đã xác nhận
              </a>
              <a href="?tinhtrang=Đã+hủy" class="text-red-500"
                th:if="${donhang.getTinhTrang() == 'Đã hủy'}">Đã hủy
              </a>
              <a href="?tinhtrang=Đã+nhận+hàng" class="text-green-500"
                th:if="${donhang.getTinhTrang() == 'Đã nhận hàng'}">Đã nhận hàng
              </a>
              <a href="?tinhtrang=Đang+vận+chuyển" class="text-amber-500"
                th:if="${donhang.getTinhTrang() == 'Đang vận chuyển'}">Đang giao
              </a>
            </td>
            <td class="p-2 border border-slate-300 max-w-[200px] overflow-auto">
              <a href="?thanhtoan=Chưa+thanh+toán" class="text-orange-500"
                th:if="${donhang.getThanhToan() == 'Chưa thanh toán'}">Chưa thanh toán
              </a>
              <a href="?thanhtoan=Đã+hủy" class="text-red-500"
                th:if="${donhang.getThanhToan() == 'Đã hủy'}">Đã hủy
              </a>
              <a href="?thanhtoan=Thất+bại" class="text-red-500"
                th:if="${donhang.getThanhToan() == 'Thất bại'}">Thất bại
              </a>
              <a href="?thanhtoan=Đã+thanh+toán" class="text-green-500"
                th:if="${donhang.getThanhToan() == 'Đã thanh toán'}">Đã thanh toán
              </a>
              <a href="?thanhtoan=Khi+nhận+hàng" class="text-blue-500"
                th:if="${donhang.getThanhToan() == 'Khi nhận hàng'}">Khi nhận hàng
              </a>
            </td>
            <td class="p-2 border border-slate-300 max-w-[200px] overflow-auto">
              <p class="my-1" th:each="sp : ${donhang.getItems()}"><a target="_blank"
                  class="text-sm rounded-sm p-1 bg-slate-200 hover:text-yellow-400 hover:bg-slate-900"
                  th:href="${sp.getLink()}" th:text="${sp.getTensanpham()}"></a> x <span
                  th:text="${sp.getSoLuong()}"></span></p>
            </td>
            <td class="p-2 border border-slate-300 max-w-[200px] overflow-auto"
              th:text="${donhang.getNGAYTHEM()}"></td>
            <td class="p-2 border border-slate-300 max-w-[200px] overflow-auto">
              <section class="flex flex-col items-center gap-2 text-center">
                <button onclick="pay(this)" th:attr="madonhang=${donhang.getMaDonHang()}"
                  th:if="${donhang.getTinhTrang() == 'Chờ thanh toán' && (donhang.getThanhToan() == 'Chưa thanh toán' || donhang.getThanhToan() == 'Thất bại')}"
                  class="p-2 w-full text-xs font-medium rounded bg-purple-500 hover:bg-purple-600 text-white mb-2">Thanh toán</button>
  
                <form method="post" action="/profile/huydon"
                  th:if="${(donhang.getTinhTrang() == 'Chờ xác nhận' || donhang.getTinhTrang() == 'Chờ thanh toán') && donhang.getThanhToan() != 'Đã thanh toán'}">
                  <input type="number" th:value="${donhang.getMaDonHang()}" class="hidden" name="madonhang">
                  <button class="p-2 w-full text-xs font-medium rounded bg-red-500 hover:bg-red-600 text-white">Hủy đơn</button>
                </form>
                <button class="p-2 w-full text-xs font-medium rounded bg-slate-500 text-white cursor-not-allowed"
                  th:if="${(donhang.getTinhTrang() != 'Chờ xác nhận' && donhang.getTinhTrang() != 'Chờ thanh toán') || donhang.getThanhToan() == 'Đã thanh toán'}">Hủy đơn
                </button>
              </section>
            </td>
          </tr>
        </table>
      </section>
    </div>
  </div>
  <div th:replace="~{fragments/footer :: footer}"></div>
  <script>
    function pay(btn) {
      const madonhang = btn.getAttribute("madonhang");
      fetch("/api/vnpay/continue-payment", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: madonhang
      }).then(function (response) {
        return response.json();
      }).then(function (data) {
        if (data.status) {
          window.location.href = data.message;
        } else {
          showNotification(
            {
              title: "Lỗi",
              message: data.message,
              type: "error"
            }
          );

          if (data.message === "Không tìm thấy đơn hàng!") {
            setTimeout(() => {
              window.location.href = "/profile/donhang";
            }, 3000);
          }
        }
      });
    }
  </script>
</body>

</html>