<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/images/LogoMobile.png">
  <title>Các đơn hàng của bạn</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
  <link rel="stylesheet" th:href="@{/css/application.css}">
</head>

<body class="bg-slate-200 overflow-x-hidden">
  <div th:replace="~{fragments/header :: header}"></div>
  <div th:replace="~{fragments/productsbar :: productsbar}"></div>
  <div class="w-full xl:max-w-[1215px] max-w-[1021px] mx-auto my-9 min-h-[85vh]">
    <div class="flex gap-2 w-max mx-auto items-end">
      <h1 class="p-2 bg-slate-400 rounded-tl rounded-tr text-xl hover:text-yellow-500"><a href="/profile/doithongtin">Đổi thông tin</a></h1>
      <h1 class="p-2 bg-white rounded-tl rounded-tr text-xl text-yellow-500 font-bold underline"><a href="/profile/donhang">Đơn hàng</a></h1>
      <h1 class="p-2 bg-slate-400 rounded-tl rounded-tr text-xl hover:text-yellow-500"><a href="/profile/giohang">Giỏ hàng</a></h1>
    </div>
    <div class="bg-white shadow-md rounded-lg overflow-hidden p-4 min-h-[800px]">
      <form action="" class="w-full flex flex-col gap-2 mb-4">
        <section class="w-full grid md:grid-cols-3 gap-2 mx-auto">
          <div>
            <label class="block font-medium" for="search">Tìm kiếm</label>
            <input class="p-2 rounded block w-full outline-none border border-black" type="text" name="search"
              th:value="${search}" placeholder="Tìm kiếm">
          </div>
          <div>
            <label class="block font-medium" for="tinhtrang">Tình trạng</label>
            <select class="block p-2 w-full rounded border border-black" name="tinhtrang" id="tinhtrang" th:value>
              <option value="">Chưa chọn</option>
              <option th:each="tt : ${tinhtrang_options}" th:value="${tt}" th:text="${tt}"
                th:selected="${tt == tinhtrang}">
              </option>
            </select>
          </div>
          <div>
            <label class="block font-medium" for="thanhtoan">Thanh toán</label>
            <select class="block p-2 w-full rounded border border-black" name="thanhtoan" id="thanhtoan" th:value>
              <option value="">Chưa chọn</option>
              <option th:each="tt : ${thanhtoan_options}" th:value="${tt}" th:text="${tt}"
                th:selected="${tt == thanhtoan}">
              </option>
            </select>
          </div>
        </section>
        <section class="grid grid-cols-2 gap-2">
          <div>
            <label class="block font-medium" for="from">Từ ngày</label>
            <input class="block p-2 w-full border border-black rounded" type="date" name="from" id="from"
              th:value="${from}">
          </div>
          <div>
            <label class="block font-medium" for="to">Đến ngày</label>
            <input class="block p-2 w-full border border-black rounded" type="date" name="to" id="to" th:value="${to}">
          </div>
        </section>
        <button class="p-2 w-max bg-blue-500 rounded block text-white flex-shrink-0 h-max">Tìm kiếm</button>
      </form>
      <table class="mx-auto">
        <tr>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Mã đơn hàng
          </th>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Tổng tiền
          </th>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Địa chỉ
          </th>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Ghi chú
          </th>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Tình trạng
          </th>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Thanh toán
          </th>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Sản phẩm
            mua
          </th>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Ngày thêm
          </th>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px] overflow-hidden">Tùy chỉnh
          </th>
        </tr>
        <tr th:if="${donhangs.size() < 1}">
          <td colspan="9" class="text-center w-full p-2 border border-solid border-black">Bạn chưa có đơn hàng nào</td>
        </tr>
        <tr th:each="donhang : ${donhangs}">
          <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden"
            th:text="${donhang.getMaDonHang()}"></td>
          <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden"
            th:text="${donhang.getTongTienFormatted()}"></td>
          <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden"
            th:text="${donhang.getDiaChi()}">
          </td>
          <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden"
            th:text="${donhang.getGhiChu() ?: ''}">
          </td>
          <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden"
            th:text="${donhang.getTinhTrang()}"></td>
          <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden"
            th:text="${donhang.getThanhToan()}"></td>
          <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden">
            <p class="my-1" th:each="sp : ${donhang.getItems()}"><a target="_blank"
                class="text-sm rounded-sm p-1 bg-slate-200 hover:text-yellow-400 hover:bg-slate-900"
                th:href="${sp.getLink()}" th:text="${sp.getTensanpham()}"></a> x <span
                th:text="${sp.getSoLuong()}"></span></p>
          </td>
          <td class="p-2 border border-solid border-black max-w-[200px] overflow-hidden"
            th:text="${donhang.getNGAYTHEM()}"></td>
          <td class="p-2 border border-solid border-black max-w-[200px] gap-2 overflow-hidden">
            <form method="post" action="/profile/huydon">
              <input type="number" th:value="${donhang.getMaDonHang()}" class="hidden" name="madonhang">
              <button class="block p-2 rounded bg-orange-500 text-white"
                th:if="${donhang.getTinhTrang() == 'Chờ xác nhận'}">Hủy đơn</button>
            </form>
            <button class="block p-2 rounded bg-slate-500 text-white cursor-not-allowed"
              th:if="${donhang.getTinhTrang() != 'Chờ xác nhận'}">Hủy đơn</button>
          </td>
        </tr>
      </table>
      <ul th:if="${sotrang > 1}" class="flex items-center flex-wrap w-full gap-2 mt-4">
        <li>Trang:</li>
        <li th:each="i:${#numbers.sequence(1,sotrang,1)}">
          <a th:classappend="${page + 1 == i} ? 'bg-black text-white' : 'bg-white text-black'"
            class="p-2 aspect-square border border-b hover:text-blue-500"
            th:href="@{'/donhang/?page=' + ${i} + '&search=' + ${search} + '&from=' + ${from} + '&to=' + ${to} + '&tinhtrang=' + ${tinhtrang} + '&thanhtoan=' + ${thanhtoan}}"
            th:text="${i}"></a>
        </li>
      </ul>
    </div>
  </div>

  <div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>