<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/LogoMobile.png">
    <title>Đồng hồ, Kính mắt cao cấp Chính hãng 100% | Đăng Quang Watch</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="stylesheet" th:href="@{/css/application.css}">
</head>

<body class="bg-gray-200">
    <div th:replace="~{fragments/header :: header}"></div>
    <div th:replace="~{fragments/index/productsbar :: productsbar}"></div>
    <div th:replace="~{fragments/index/banner :: banner}"></div>
    
    <div class="w-full xl:max-w-[1215px] max-w-[1021px] mx-auto">
        <div th:replace="~{fragments/index/categories :: categories}"></div>

        <div th:replace="~{fragments/index/sanphambanchay :: sanphambanchay}"></div>
        <div th:replace="~{fragments/index/brands :: brands}"></div>

        <div th:replace="~{fragments/index/donghoeposswiss :: donghoeposswiss}"></div>
        <div th:replace="~{fragments/index/diamondd :: diamondd}"></div>
        <div th:replace="~{fragments/index/philippeauguste :: philippeauguste}"></div>
        <div th:replace="~{fragments/index/jacqueslemans :: jacqueslemans}"></div>
        <div th:replace="~{fragments/index/ariesgold :: ariesgold}"></div>
        <div th:replace="~{fragments/index/atlanticswiss :: atlanticswiss}"></div>
        <div th:replace="~{fragments/index/citizen :: citizen}"></div>
        <div th:replace="~{fragments/index/tsarbomba :: tsarbomba}"></div>
    </div>
</body>

</html>