<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Đồng hồ, Kính mắt cao cấp Chính hãng 100% | Đăng Quang Watch</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="stylesheet" th:href="@{/css/application.css}">
</head>

<body class="bg-gray-200">
    <div th:replace="~{fragments/header :: header}"></div>
    <div th:replace="~{fragments/productsbar :: productsbar}"></div>
    <div class="w-full bg-gray-400">
        <img src="/images/banner.jpg" alt="banner" class="w-full max-w-[1215px] mx-auto">
    </div>
    <div class="w-full max-w-[1215px] mx-auto">
        <!-- CAC LOAI DONG HO & KINH -->
        <ul class="w-full py-3 gap-x-2 grid grid-cols-4">
            <li
                class="shadow-sm hover:shadow-md transition-all ease-in duration-75 hover:shadow-black w-full h-full bg-white rounded-lg">
                <a href="/" class="flex items-center gap-2 py-3 pl-4">
                    <img src="/images/dh_nam.jpg" class="block rounded-full w-[62px] h-[62px]" alt="dong ho nam">
                    <p class="font-bold">
                        Đồng hồ nam
                    </p>
                </a>
            </li>
            <li
                class="shadow-sm hover:shadow-md transition-all ease-in duration-75 hover:shadow-black w-full h-full bg-white rounded-lg">
                <a href="/" class="flex items-center gap-2 py-3 pl-4">
                    <img src="/images/dong_ho_nu.jpg" class="block rounded-full w-[62px] h-[62px]" alt="dong ho nam">
                    <p class="font-bold">
                        Đồng hồ nữ
                    </p>
                </a>
            </li>
            <li
                class="shadow-sm hover:shadow-md transition-all ease-in duration-75 hover:shadow-black w-full h-full bg-white rounded-lg">
                <a href="/" class="flex items-center gap-2 py-3 pl-4">
                    <img src="/images/certificate.png" class="block rounded-full w-[62px] h-[62px]" alt="dong ho nam">
                    <p class="font-bold">
                        Đồng hồ Thụy Sĩ
                    </p>
                </a>
            </li>
            <li
                class="shadow-sm hover:shadow-md transition-all ease-in duration-75 hover:shadow-black w-full h-full bg-white rounded-lg">
                <a href="/" class="flex items-center gap-2 py-3 pl-4">
                    <img src="/images/kinh_mat_thoi_trang.jpg" class="block rounded-full w-[62px] h-[62px]"
                        alt="dong ho nam">
                    <p class="font-bold">
                        Kính mắt thời trang
                    </p>
                </a>
            </li>
        </ul>

        <!-- SAN PHAM BAN CHAY -->
        <section class="grid xl:grid-cols-5 lg:grid-cols-4 sm:grid-cols-3 grid-cols-2 w-full gap-2">
            <div class="w-full min-w-[363px]">
                <div class="w-full h-[60%] aspect-square">
                    <img src="/" alt="anhdongho">
                </div>

                
            </div>
        </section>
    </div>
</body>

</html>