<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Live Reload NPM Scripts</title>
    <link rel="stylesheet" th:href="@{/css/application.css}">
</head>

<body class="w-full">
    <header class="h-14 box-content py-2 bg-black">
        <section class="w-[1215px] mx-auto flex items-center">
            <a href="/">
                <img src="/images/Logo.png" alt="Đăng Quang Watch" class="w-[230px] h-14">
            </a>

            <form action="">

            </form>

            <ul class="flex items-center text-xs text-white">
                <li class="flex items-center px-4">
                    <a href="/cart">
                        Giỏ hàng (0)
                    </a>
                </li>
                <li class="flex items-center px-4">
                    <div>
                        <p>
                            Hotline mua hàng
                        </p>
                        <p class="text-yellow-500 text-base">
                          1800 6005  
                        </p>
                    </div>
                </li>
                <li class="flex items-center px-4">
                    <div>
                        <p>
                            Hệ thống cửa hàng
                        </p>
                        <p class="text-yellow-500 text-base">
                          63 Tỉnh thành 
                        </p>
                    </div>
                </li>
            </ul>
        </section>
    </header>
</body>

</html>