<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/images/LogoMobile.png">
  <title>Đăng nhập</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
  <link rel="stylesheet" th:href="@{/css/application.css}">
</head>

<body class="bg-slate-200">
  <header class="h-14 w-full box-content py-2 bg-black">
    <section class="w-full max-w-[1215px] mx-auto flex items-center pl-3">
      <a href="/" class="mx-auto">
        <img src="/images/LogoMobile.png" alt="Đăng Quang Watch" class="w-16 h-16">
      </a>
    </section>
  </header>

  <div
    class="flex flex-col gap-4 items-center absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 w-screen max-w-[332px]">
    <form method="post" action="/login" class="flex flex-col gap-2 rounded-lg shadow shadow-black bg-white w-full p-4">
      <h1 class="text-2xl font-bold text-center my-2">Đăng nhập</h1>
      <div>
        <label class="block font-medium" for="username">Email:</label>
        <input class="block p-2 w-full rounded border border-black overflow-hidden" type="email" name="username"
          placeholder="user@email.com" required>
      </div>
      <div>
        <label class="block font-medium" for="password">Password:</label>
        <section class="relative max-w-[300px] w-screen">
          <input class="block relative p-2 w-full rounded border border-black overflow-hidden" type="password"
            name="password" id="password" placeholder="Mật khẩu" th:value="${password ?: ''}" required>
          <button id="visibilityOn" type="button" class="absolute top-3 right-3">
            <img src="/svg/visibility.svg" alt="Xem mật khẩu" class="w-5 h-5 opacity-10 hover:opacity-100">
          </button>
          <button id="visibilityOff" type="button" class="absolute top-3 right-3" style="display: none;">
            <img src="/svg/visibility_off.svg" alt="Xem mật khẩu" class="w-5 h-5 opacity-10 hover:opacity-100">
          </button>
        </section>
      </div>
      <div class="flex items-center w-max mx-auto gap-2 my-4">
        <button class="block p-2 w-max bg-green-500 font-bold text-white rounded" type="submit">Đăng nhập</button>
        <p>hoặc</p>
        <a href="/dangky" class="block py-2 w-max font-bold underline text-blue-500 rounded" type="submit">Đăng ký</a>
      </div>
    </form>

  </div>
  <script src="/js/notification.js"></script>
  <script>
    const password = document.getElementById("password");
    const visibilityOn = document.getElementById("visibilityOn");
    const visibilityOff = document.getElementById("visibilityOff");

    visibilityOn.addEventListener("click", () => {
      password.type = "text";
      visibilityOn.style.display = "none";
      visibilityOff.style.display = "block";
    });

    visibilityOff.addEventListener("click", () => {
      password.type = "password";
      visibilityOn.style.display = "block";
      visibilityOff.style.display = "none";
    });
  </script>
  <script th:inline="javascript">
    const errorMessage = /*[[${errorMessage}]]*/ '';
    if (errorMessage) {
      showNotification(
        {
          title: "Lỗi",
          message: errorMessage,
          type: "error"
        }
      );
    }

    const notifMessage = /*[[${notification}]]*/ '';
    if (notifMessage) {
      showNotification(
        {
          title: "Thông báo",
          message: notifMessage,
          type: "info"
        }
      );
    }
  </script>
</body>

</html>