<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/LogoMobile.png">
    <title>Kết quả tìm kiếm</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="stylesheet" th:href="@{/css/application.css}">
</head>

<body class="bg-gray-200 overflow-x-hidden">
  <div th:replace="~{fragments/header :: header}"></div>
  <div th:replace="~{fragments/productsbar :: productsbar}"></div>
  <div th:replace="~{fragments/index/banner :: banner}"></div>
  
  <div class="w-full xl:max-w-[1215px] max-w-[1021px] mx-auto my-4 min-h-[85vh]">
    <div th:replace="~{fragments/search/ketqua :: ketqua}"></div>
  </div>

  <div th:replace="~{fragments/footer :: footer}"></div>
</body>