<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/LogoMobile.png">
    <title>Thêm bút ký</title>
    <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}" />
</head>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="p-4 w-max bg-slate-50 shadow-sm rounded-lg mx-auto">
        <h1 class="font-bold text-center my-2">Bút ký mới</h1>
        <div class="col-md-auto">
            <form th:object="${butky}" th:action="@{/admin/butky/save}" action="#" method="post"
                enctype="multipart/form-data">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="file">Chọn ảnh:</label>
                    <input type="file" id="file" name="file"
                        class="border border-black rounded form-input mt-1 block w-full" multiple="multiple"
                        accept="image/*" onchange="previewImages(event)" required>
                </div>
                <div id="preview-container" class="mb-4 flex flex-wrap">
                    <!-- Images preview will be shown here -->
                </div>
                <div>
                    <label class="block font-medium" th:for="tenbutky">Tên bút ký</label>
                    <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="text"
                        th:field="*{tenbutky}" placeholder="Tên bút ký" />
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <div>
                    <label class="block font-medium" th:for="giatien">Giá tiền</label>
                    <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="number"
                        th:field="*{giatien}" placeholder="Giá tiền" />
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <div>
                    <label class="block font-medium" th:for="soluong">Số lượng</label>
                    <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="number"
                        th:field="*{soluong}" placeholder="Số lượng" />
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <div>
                    <label class="block font-medium" th:for="tragop">Trả góp</label>
                    <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="number"
                        th:field="*{tragop}" placeholder="Trả góp" />
                </div>
                <div style="clear: both; display: block; height: 10px"></div>
                <div>
                    <label class="block font-medium" th:for="thongtin">Thông tin</label>
                    <textarea class="border border-black rounded w-[80vw] min-w-[280px] p-2" rows="5"
                        th:field="*{thongtin}" placeholder="Thông tin sản phẩm"></textarea>
                </div>

                <input class="hidden" type="date" id="NGAYTHEM" name="NGAYTHEM" />

                <div style="clear: both; display: block; height: 10px"></div>
                <input class="p-2 w-max bg-green-500 rounded block mt-4 text-white" type="submit" value="Thêm" />
            </form>
        </div>
    </div>
    <script>
        document.getElementById('NGAYTHEM').valueAsDate = new Date();
        function previewImages(event) {
            var files = event.target.files;
            var container = document.getElementById('preview-container');
            container.innerHTML = '';
            for (var i = 0; i < files.length; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var img = document.createElement('img');
                    img.src = e.target.result;
                    img.classList.add('w-32', 'h-32', 'object-cover', 'm-2');
                    container.appendChild(img);
                };
                reader.readAsDataURL(files[i]);
            }
        }
    </script>
    <script src="/js/notification.js"></script>
    <script th:inline="javascript">
        const errorMessage = /*[[${errorMessage}]]*/ '';
        if (errorMessage) {
            showNotification(
                {
                    title: "Lỗi",
                    message: errorMessage,
                    type: "error"
                }
            );
        }
    </script>
</body>

</html>