<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/images/LogoMobile.png">
  <title>Sửa thông tin</title>
  <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}" />
</head>

<body>
  <div th:replace="~{fragments/sidebar :: sidebar}"></div>
  <div class="p-4 w-max bg-slate-50 shadow-sm rounded-lg mx-auto">
    <h1 class="font-bold text-center my-2">Sửa thông tin</h1>

    <div class="flex flex-wrap w-full items-center mb-4">
      <form action="/admin/butky/deleteimage" method="post" th:each="img : ${images}"
        class="h-32 relative m-2 overflow-visible">
        <img th:src="${img.getUrl()}" th:alt="${img.getTenanh()}" class="w-32 h-32 object-cover">
        <input type="number" name="id" class="border border-black rounded hidden" th:value="${img.getMaanh()}">
        <button class="p-1 rounded bg-red-500 absolute -top-1 -right-1">
          <img src="/svg/delete.svg" alt="delete" class="w-4 h-4">
        </button>
      </form>
    </div>

    <form class="mb-4" action="/admin/butky/uploadimage" method="post" enctype="multipart/form-data">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="file">Chọn ảnh:</label>
        <input type="hidden" name="id" th:value="${butky.mabutky}" />
        <input type="file" id="file" name="file" class="border border-black rounded form-input mt-1 block w-full"
          multiple="multiple" accept="image/*" onchange="previewImages(event)" required>
      </div>

      <div id="preview-container" class="mb-4 flex flex-wrap">
        <!-- Images preview will be shown here -->
      </div>
      <input class="p-2 w-max bg-blue-500 rounded block mt-4 text-white text-xs" type="submit" value="Tải ảnh mới" />
    </form>

    <form th:object="${butky}" th:action="@{/admin/butky/update}" action="#" method="post">
      <div>
        <label class="block font-medium" th:for="mabutky">Mã bút ký</label>
        <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="number"
          th:field="*{mabutky}" />
      </div>
      <div style="clear: both; display: block; height: 10px"></div>
      <div>
        <label class="block font-medium" th:for="tenbutky">Tên bút ký</label>
        <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="text"
          th:field="*{tenbutky}" />
      </div>
      <div style="clear: both; display: block; height: 10px"></div>
      <div>
        <label class="block font-medium" th:for="giatien">Giá tiền</label>
        <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="number"
          th:field="*{giatien}" />
      </div>
      <div style="clear: both; display: block; height: 10px"></div>

      <input type="hidden" th:field="*{soluong}" />

      <div>
        <label class="block font-medium" th:for="tragop">Trả góp</label>
        <input class="border border-black rounded block p-2 w-[80vw] min-w-[280px]" type="number"
          th:field="*{tragop}" />
      </div>
      <div style="clear: both; display: block; height: 10px"></div>
      <div>
        <label class="block font-medium" th:for="thongtin">Thông tin</label>
        <textarea class="border border-black rounded w-[80vw] min-w-[280px] p-2" rows="5"
          th:field="*{thongtin}"></textarea>
      </div>

      <input type="hidden" th:field="*{NGAYTHEM}" />
      <input type="hidden" th:field="*{kichhoat}" />
      <input type="hidden" th:field="*{soluongdatmua}" />

      <div style="clear: both; display: block; height: 10px"></div>
      <input class="p-2 w-max bg-green-500 rounded block mt-4 text-white" type="submit" value="Lưu" />
    </form>
  </div>
  <script>
    function previewImages(event) {
      var files = event.target.files;
      var container = document.getElementById('preview-container');
      container.innerHTML = '';
      var p = document.createElement("p");
      p.textContent = "Ảnh mới: ";
      container.append(p);
      for (var i = 0; i < files.length; i++) {
        var reader = new FileReader();
        reader.onload = function (e) {
          var img = document.createElement('img');
          img.src = e.target.result;
          img.classList.add('w-32', 'h-32', 'object-cover', 'm-2');
          container.appendChild(img);
        };
        reader.readAsDataURL(files[i]);
      }
    }
  </script>
  <script th:inline="javascript">
    const errorMessage = /*[[${errorMessage}]]*/ '';
    if (errorMessage) {
      showNotification(
        {
          title: "Lỗi",
          message: errorMessage,
          type: "error"
        }
      );
    }
  </script>
</body>

</html>