<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <title>Bút ký</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}" />
</head>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="p-4 w-max bg-slate-50 shadow-sm rounded-lg mx-auto">
        <h1 class="font-bold text-center my-2">Quản lý bút ký</h1>
        <table class="table table-active">
            <tr>
                <th class="p-2 border border-solid border-black">Mã bút ký</th>
                <th class="p-2 border border-solid border-black">Tên bút ký</th>
                <th class="p-2 border border-solid border-black">Giá tiền</th>
                <th class="p-2 border border-solid border-black">Số lượng</th>
                <th class="p-2 border border-solid border-black">Trả góp</th>
                <th class="p-2 border border-solid border-black">Thông tin</th>
                <th class="p-2 border border-solid border-black">Ngày thêm</th>
                <th class="p-2 border border-solid border-black">Tùy chọn</th>
            </tr>
            <tr th:each="butky : ${butkys}">
                <td class="p-2 border border-solid border-black" th:text="${butky.getMabutky()}"></td>
                <td class="p-2 border border-solid border-black" th:text="${butky.getTenbutky()}"></td>
                <td class="p-2 border border-solid border-black" th:text="${butky.getGiatien()}"></td>
                <td class="p-2 border border-solid border-black" th:text="${butky.getSoluong()}"></td>
                <td class="p-2 border border-solid border-black" th:text="${butky.getTragop()}"></td>
                <td class="p-2 border border-solid border-black" th:text="${butky.getThongtin()}"></td>
                <td class="p-2 border border-solid border-black" th:text="${butky.getNGAYTHEM()}"></td>
                <td class="p-2 border border-solid border-black">
                    <a class="p-2 rounded bg-green-500 text-white"
                        th:href="@{/admin/butky/edit?id={id}(id=${butky.getMabutky()})}">Edit</a>
                    <a class="p-2 rounded bg-red-500 text-white"
                        th:href="@{/admin/butky/delete?id={id}(id=${butky.getMabutky()})}">Delete</a>
                </td>
            </tr>
        </table>
        <a href="/admin/butky/add" class="p-2 w-max bg-green-500 rounded block mt-4 text-white">Thêm bút ký</a>
    </div>
</body>

</html>