<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <title>Bút ký</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}" />
</head>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="p-4 w-max bg-slate-50 shadow-sm rounded-lg md:mx-auto pl-11">
        <h1 class="font-bold text-center my-2">Quản lý bút ký</h1>
        <form action="" class="w-full flex gap-2 my-2">
            <input class="p-2 rounded block w-[60%] outline-none border border-black" type="text" name="search" th:value="${search}" placeholder="Tìm kiếm">
            <button class="p-2 w-max bg-blue-500 rounded block text-white flex-shrink-0">Tìm kiếm</button>
        </form>
        <table class="table table-active">
            <tr>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Mã bút ký</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Tên bút ký</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Giá tiền</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Số lượng</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Trả góp</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Thông tin</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Ngày thêm</th>
                <th class="bg-black text-white p-2 border border-solid border-black max-w-[200px]">Tùy chọn</th>
            </tr>
            <tr th:each="butky : ${butkys}">
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${butky.getMabutky()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${butky.getTenbutky()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${butky.getGiatien()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${butky.getSoluong()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${butky.getTragop()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${butky.getThongtin()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]" th:text="${butky.getNGAYTHEM()}"></td>
                <td class="p-2 border border-solid border-black max-w-[200px]">
                    <a class="p-2 rounded bg-green-500 text-white"
                        th:href="@{/admin/butky/edit?id={id}(id=${butky.getMabutky()})}">Sửa</a>
                    <a class="p-2 rounded bg-red-500 text-white"
                        th:href="@{/admin/butky/delete?id={id}(id=${butky.getMabutky()})}">Xóa</a>
                </td>
            </tr>
        </table>
        <ul class="flex items-center flex-wrap w-full gap-2 mt-4">
            <li>Trang:</li>
            <li th:each="i:${#numbers.sequence(1,sotrang,1)}">
                <a th:classappend="${page + 1 == i} ? 'bg-black text-white' : 'bg-white text-black'" class="p-2 aspect-square border border-b hover:text-blue-500" th:href="@{'/admin/butky/?search=' + ${search} + '&page=' + ${i}}" th:text="${i}"></a>
            </li>
        </ul>
        <a href="/admin/butky/add" class="p-2 w-max bg-green-500 rounded block mt-4 text-white">Thêm bút ký</a>
    </div>
</body>

</html>