<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
  <meta charset="UTF-8" />
  <title>Xuất kho</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/images/LogoMobile.png">
  <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}" />
</head>

<body class="bg-slate-200">
  <div th:replace="~{fragments/sidebar :: sidebar}"></div>
  <div class="p-4 w-full h-screen pl-16">
    <h1 class="font-bold text-center my-2">Xuất kho</h1>

    <form th:object="${butky}" th:action="@{/admin/butky/xuat}" action="#" method="post">
      <input type="hidden" th:value="${butky.mabutky}" name="id" />
      <p class="block font-medium text-lg" th:text="${'Mã: ' + butky.mabutky + ' - ' + butky.tenbutky}"></p>
      <section class="grid lg:grid-cols-2 grid-cols-1 gap-3">
        <div>
          <label class="block font-medium mb-1" th:for="soluong">Số lượng</label>
          <input class="block px-3 py-2 w-full border border-slate-300 rounded" type="number"
            name="soLuong" placeholder="1" required/>
        </div>

        <div>
          <label class="block font-medium mb-1" th:for="giatien">Chi phí</label>
          <input class="block px-3 py-2 w-full border border-slate-300 rounded" type="number"
            name="giaTien" placeholder="1000" required/>
        </div>
      </section>

      <div>
        <label class="block font-medium mb-1" th:for="thongtin">Thông tin xuất</label>
        <textarea class="block px-3 py-2 w-full border border-slate-300 rounded" rows="5"
          placeholder="Xuất cho đơn hàng mã: 00"
          name="thongTinXuat" required></textarea>
      </div>

      <input class="border p-2 w-max bg-green-500 rounded block text-white" type="submit"
        value="Xuất" />
    </form>
  </div>
  <script th:inline="javascript">
    const errorMessage = /*[[${errorMessage}]]*/ '';
    if (errorMessage) {
      showNotification(
        {
          title: "Lỗi",
          message: errorMessage,
          type: "error"
        }
      );
    }
  </script>
</body>

</html>