<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/png" href="/images/LogoMobile.png">
        <title>Thống kê</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="/css/application.css" th:href="@{/css/application.css}" />
    </head>
  <body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="p-4 w-max bg-slate-50 shadow-sm rounded-lg md:mx-auto pl-11">
        <h1 class="font-bold text-center my-2">Thống kê</h1>
      <table>
        <tr>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[250px] overflow-hidden">Mã thống kê</th>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[250px] overflow-hidden">Đồng hồ</th>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[250px] overflow-hidden">Bút ký</th>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[250px] overflow-hidden">Phụ kiện</th>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[250px] overflow-hidden">Trang sức</th>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[250px] overflow-hidden">Kính mắt</th>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[250px] overflow-hidden">Đơn hàng đã hủy</th>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[250px] overflow-hidden">Đơn hàng đã giao</th>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[250px] overflow-hidden">Số lượng khách hàng</th>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[250px] overflow-hidden">Lượng truy cập</th>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[250px] overflow-hidden">Tỉ lệ chuyển đổi</th>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[250px] overflow-hidden">Doanh thu</th>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[250px] overflow-hidden">Vốn</th>
          <th class="bg-black text-white p-2 border border-solid border-black max-w-[250px] overflow-hidden">Ngày thực hiện</th>
        </tr>
        <tr th:each="thongKe : ${thongKes}">
          <td class="p-2 border border-solid border-black max-w-[250px] overflow-hidden" th:text="${thongKe.getMathongke()}"></td>
          <td class="p-2 border border-solid border-black max-w-[250px] overflow-hidden" th:text="${thongKe.getDongHo()}"></td>
          <td class="p-2 border border-solid border-black max-w-[250px] overflow-hidden" th:text="${thongKe.getButKy()}"></td>
          <td class="p-2 border border-solid border-black max-w-[250px] overflow-hidden" th:text="${thongKe.getPhuKien()}"></td>
          <td class="p-2 border border-solid border-black max-w-[250px] overflow-hidden" th:text="${thongKe.getTrangSuc()}"></td>
          <td class="p-2 border border-solid border-black max-w-[250px] overflow-hidden" th:text="${thongKe.getKinhMat()}"></td>
          <td class="p-2 border border-solid border-black max-w-[250px] overflow-hidden" th:text="${thongKe.getDonHangDahuy()}"></td>
          <td class="p-2 border border-solid border-black max-w-[250px] overflow-hidden" th:text="${thongKe.getDonHangDaGiao()}"></td>
          <td class="p-2 border border-solid border-black max-w-[250px] overflow-hidden" th:text="${thongKe.getKhachHang()}"></td>
          <td class="p-2 border border-solid border-black max-w-[250px] overflow-hidden" th:text="${thongKe.getLuongTruyCap()}"></td>
          <td class="p-2 border border-solid border-black max-w-[250px] overflow-hidden" th:text="${thongKe.getTiLeChuyenDoi()}"></td>
          <td class="p-2 border border-solid border-black max-w-[250px] overflow-hidden" th:text="${thongKe.getDoanhThu()}"></td>
          <td class="p-2 border border-solid border-black max-w-[250px] overflow-hidden" th:text="${thongKe.getVon()}"></td>
          <td class="p-2 border border-solid border-black max-w-[250px] overflow-hidden" th:text="${thongKe.getNGAYTHEM()}"></td>
        </tr>
      </table>
      <p>Từ ngày:
        <input type="date" id="start_date" name="start_date" />
      </p>
      <p>Đến ngày:
        <input type="date" id="end_date" name="end_date" />
      </p>
      <input class="p-2 w-max bg-green-500 rounded block mt-4 text-white" type="submit" value="Thực hiện thống kê">
    </div>
  </body>
</html>
