<div class="w-full mb-4" th:fragment="ketqua">
  <section class="w-full bg-white flex items-center h-[65px] border-b-[3px] border-b-red-600 rounded-t-sm mb-2">
    <h1 class="text-2xl w-max mx-auto font-bold" th:text="@{'KẾT QUẢ TÌM KIẾM \'' + ${search} + '\''}"></h1>
  </section>

  <section class="grid lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-3 grid-cols-2 w-full gap-2">
    <div class="w-full max-w-[363px] bg-white rounded overflow-hidden" th:each="dongho : ${donghos}" th:if="${dongho.kichhoat == 1}">
      <img th:src="${dongho.getFirstImageUrl()}" class="w-full aspect-square" alt="anhdongho" />
      <div class="p-2 flex flex-col gap-2">
        <a class="hover:text-yellow-400 text-sm" th:href="@{'/dongho/' + ${dongho.getMadongho()}}"
          th:text="@{${dongho.getTendongho()} + ' - Đồng hồ ' + ${dongho.getGioitinh()} + ' -  Size mặt ' + ${dongho.getDuongkinh()} + 'mm - ' + ${dongho.getChatlieu()} + ' - ' + ${dongho.getBomay()} + ' - Chịu nước ' + ${dongho.getChongnuoc()} + ' ATM'}">
        </a>
        <p class="font-bold text-red-600" th:text="@{${dongho.getGiatienFormatted()} + 'đ'}"></p>

        <div class="flex gap-2">
          <button th:data-tsp="${dongho.getTendongho()}" th:data-msp="${dongho.getMadongho()}"
            th:data-gt="${dongho.getGiatien()}" th:data-asp="${dongho.getFirstImageUrl()}"
            onclick="addItem(this.getAttribute('data-tsp'),parseInt(this.getAttribute('data-msp')), 'dongho',parseInt(this.getAttribute('data-gt')), this.getAttribute('data-asp')); redirectToCart()"
            class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded flex gap-2 items-center">
            <img src="/svg/tocheckout.svg" class="w-5 h-5" alt="tocheckout">
            <p class="text-xs sm:text-base">
              Mua ngay
            </p>
          </button>
          <button th:data-tsp="${dongho.getTendongho()}" th:data-msp="${dongho.getMadongho()}"
            th:data-gt="${dongho.getGiatien()}" th:data-asp="${dongho.getFirstImageUrl()}"
            onclick="addItem(this.getAttribute('data-tsp'),parseInt(this.getAttribute('data-msp')), 'dongho',parseInt(this.getAttribute('data-gt')), this.getAttribute('data-asp'));"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex gap-2 items-center">
            <img src="/svg/addtocart.svg" class="w-5 h-5" alt="addtocart">
          </button>
        </div>
      </div>
    </div>

    <div class="w-full max-w-[363px] bg-white rounded overflow-hidden" th:each="kinhmat : ${kinhmats}" th:if="${kinhmat.kichhoat == 1}">
      <img th:src="${kinhmat.getFirstImageUrl()}" class="w-full aspect-square" alt="anhkinhmat" />
      <div class="p-2 flex flex-col gap-2">
        <a class="hover:text-yellow-400 text-sm" th:href="@{'/kinhmat/' + ${kinhmat.getMaKinhMat()}}"
          th:text="${kinhmat.getTenKinhMat()}">
        </a>
        <p class="font-bold text-red-600" th:text="@{${kinhmat.getGiaTienFormatted()} + 'đ'}"></p>

        <div class="flex gap-2">
          <button th:data-tsp="${kinhmat.getTenKinhMat()}" th:data-msp="${kinhmat.getMaKinhMat()}"
            th:data-gt="${kinhmat.getGiaTien()}" th:data-asp="${kinhmat.getFirstImageUrl()}"
            onclick="addItem(this.getAttribute('data-tsp'),parseInt(this.getAttribute('data-msp')), 'kinhmat',parseInt(this.getAttribute('data-gt')), this.getAttribute('data-asp')); redirectToCart()"
            class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded flex gap-2 items-center">
            <img src="/svg/tocheckout.svg" class="w-5 h-5" alt="tocheckout">
            <p class="text-xs sm:text-base">
              Mua ngay
            </p>
          </button>
          <button th:data-tsp="${kinhmat.getTenKinhMat()}" th:data-msp="${kinhmat.getMaKinhMat()}"
            th:data-gt="${kinhmat.getGiaTien()}" th:data-asp="${kinhmat.getFirstImageUrl()}"
            onclick="addItem(this.getAttribute('data-tsp'),parseInt(this.getAttribute('data-msp')), 'kinhmat',parseInt(this.getAttribute('data-gt')), this.getAttribute('data-asp'));"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex gap-2 items-center">
            <img src="/svg/addtocart.svg" class="w-5 h-5" alt="addtocart">
          </button>
        </div>
      </div>
    </div>

    <div class="w-full max-w-[363px] bg-white rounded overflow-hidden" th:each="phukien : ${phukiens}" th:if="${phukien.kichhoat == 1}">
      <img th:src="${phukien.getFirstImageUrl()}" class="w-full aspect-square" alt="anhphukien" />
      <div class="p-2 flex flex-col gap-2">
        <a class="hover:text-yellow-400 text-sm" th:href="@{'/phukien/' + ${phukien.getMaPhuKien()}}"
          th:text="${phukien.getTenPhuKien()}">
        </a>
        <p class="font-bold text-red-600" th:text="@{${phukien.getGiaTienFormatted()} + 'đ'}"></p>

        <div class="flex gap-2">
          <button th:data-tsp="${phukien.getTenPhuKien()}" th:data-msp="${phukien.getMaPhuKien()}"
            th:data-gt="${phukien.getGiaTien()}" th:data-asp="${phukien.getFirstImageUrl()}"
            onclick="addItem(this.getAttribute('data-tsp'),parseInt(this.getAttribute('data-msp')), 'phukien',parseInt(this.getAttribute('data-gt')), this.getAttribute('data-asp')); redirectToCart()"
            class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded flex gap-2 items-center">
            <img src="/svg/tocheckout.svg" class="w-5 h-5" alt="tocheckout">
            <p class="text-xs sm:text-base">
              Mua ngay
            </p>
          </button>
          <button th:data-tsp="${phukien.getTenPhuKien()}" th:data-msp="${phukien.getMaPhuKien()}"
            th:data-gt="${phukien.getGiaTien()}" th:data-asp="${phukien.getFirstImageUrl()}"
            onclick="addItem(this.getAttribute('data-tsp'),parseInt(this.getAttribute('data-msp')), 'phukien',parseInt(this.getAttribute('data-gt')), this.getAttribute('data-asp'));"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex gap-2 items-center">
            <img src="/svg/addtocart.svg" class="w-5 h-5" alt="addtocart">
          </button>
        </div>
      </div>
    </div>

    <div class="w-full max-w-[363px] bg-white rounded overflow-hidden" th:each="butky : ${butkys}" th:if="${butky.kichhoat == 1}">
      <img th:src="${butky.getFirstImageUrl()}" class="w-full aspect-square" alt="anhbutky" />
      <div class="p-2 flex flex-col gap-2">
        <a class="hover:text-yellow-400 text-sm" th:href="@{'/butky/' + ${butky.getMabutky()}}"
          th:text="@{${butky.getTenbutky()}}">
        </a>
        <p class="font-bold text-red-600" th:text="@{${butky.getGiatienFormatted()} + 'đ'}"></p>
        <div class="flex gap-2">
          <button th:data-tsp="${butky.getTenbutky()}" th:data-msp="${butky.getMabutky()}"
            th:data-gt="${butky.getGiatien()}" th:data-asp="${butky.getFirstImageUrl()}"
            onclick="addItem(this.getAttribute('data-tsp'),parseInt(this.getAttribute('data-msp')), 'butky',parseInt(this.getAttribute('data-gt')), this.getAttribute('data-asp')); redirectToCart()"
            class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded flex gap-2 items-center">
            <img src="/svg/tocheckout.svg" class="w-5 h-5" alt="tocheckout">
            <p class="text-xs sm:text-base">
              Mua ngay
            </p>
          </button>
          <button th:data-tsp="${butky.getTenbutky()}" th:data-msp="${butky.getMabutky()}"
            th:data-gt="${butky.getGiatien()}" th:data-asp="${butky.getFirstImageUrl()}"
            onclick="addItem(this.getAttribute('data-tsp'),parseInt(this.getAttribute('data-msp')), 'butky',parseInt(this.getAttribute('data-gt')), this.getAttribute('data-asp'));"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex gap-2 items-center">
            <img src="/svg/addtocart.svg" class="w-5 h-5" alt="addtocart">
          </button>
        </div>
      </div>
    </div>

    <div class="w-full max-w-[363px] bg-white rounded overflow-hidden" th:each="trangsuc : ${trangsucs}" th:if="${trangsuc.kichhoat == 1}">
      <img th:src="${trangsuc.getFirstImageUrl()}" class="w-full aspect-square" alt="anhtrangsuc" />
      <div class="p-2 flex flex-col gap-2">
        <a class="hover:text-yellow-400 text-sm" th:href="@{'/trangsuc/' + ${trangsuc.getMatrangsuc()}}"
          th:text="@{${trangsuc.getTentrangsuc()}}">
        </a>
        <p class="font-bold text-red-600" th:text="@{${trangsuc.getGiaTienFormatted()} + 'đ'}"></p>
        <div class="flex gap-2 ">
          <button th:data-tsp="${trangsuc.getTentrangsuc()}" th:data-msp="${trangsuc.getMatrangsuc()}"
            th:data-gt="${trangsuc.getGiaTien()}" th:data-asp="${trangsuc.getFirstImageUrl()}"
            onclick="addItem(this.getAttribute('data-tsp'),parseInt(this.getAttribute('data-msp')), 'trangsuc',parseInt(this.getAttribute('data-gt')), this.getAttribute('data-asp')); redirectToCart()"
            class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded flex gap-2 items-center">
            <img src="/svg/tocheckout.svg" class="w-5 h-5" alt="tocheckout">
            <p class="text-xs sm:text-base">
              Mua ngay
            </p>
          </button>
          <button th:data-tsp="${trangsuc.getTentrangsuc()}" th:data-msp="${trangsuc.getMatrangsuc()}"
            th:data-gt="${trangsuc.getGiaTien()}" th:data-asp="${trangsuc.getFirstImageUrl()}"
            onclick="addItem(this.getAttribute('data-tsp'),parseInt(this.getAttribute('data-msp')), 'trangsuc',parseInt(this.getAttribute('data-gt')), this.getAttribute('data-asp'));"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex gap-2 items-center">
            <img src="/svg/addtocart.svg" class="w-5 h-5" alt="addtocart">
          </button>
        </div>
      </div>
    </div>
  </section>
  <ul th:if="${sotrang > 1}" class="flex items-center flex-wrap w-full gap-2 mt-4">
    <li>Trang:</li>
    <li th:each="i:${#numbers.sequence(1,sotrang,1)}">
      <a th:classappend="${page + 1 == i} ? 'bg-black text-white' : 'bg-white text-black'"
        class="p-2 aspect-square border border-b hover:text-blue-500"
        th:href="@{'/?page=' + ${i} + '&search=' + ${search}}" th:text="${i}"></a>
    </li>
  </ul>
</div>