<section class="w-full flex flex-col gap-3 my-4" th:fragment="brands">
  <img src="/images/tsar_pc.jpg" class="block w-full rounded-md" alt="TSAR BOMBA">

  <div class="px-4 flex flex-col items-center text-center gap-2">
    <h1 class="text-2xl">THƯƠNG HIỆU</h1>
    <p class="w-full max-w-[608px] mx-auto">Đăng Quang Watch phân phối độc quyền đồng hồ đeo tay Nam Nữ của các thương hiệu nổi
      tiếng thế giới từ Thụy Sỹ, Nhật Bản, Anh, Áo, Đức ...</p>
  </div>

  <ul class="grid md:grid-cols-7 grid-cols-3 md:gap-2 gap-1">
    <li class="bg-white shadow-sm shadow-gray-500 rounded p-1">
      <img src="https://www.dangquangwatch.vn/assets/img/at_logo.png" alt="atlantic_logo">
    </li>
    <li class="bg-white shadow-sm shadow-gray-500 rounded p-1">
      <img src="https://www.dangquangwatch.vn/assets/img/ep_logo.png" alt="atlantic_logo">
    </li>
    <li class="bg-white shadow-sm shadow-gray-500 rounded p-1">
      <img src="https://www.dangquangwatch.vn/assets/img/jl_logo.png" alt="atlantic_logo">
    </li>
    <li class="bg-white shadow-sm shadow-gray-500 rounded p-1">
      <img src="https://www.dangquangwatch.vn/assets/img/ag_logo.png" alt="atlantic_logo">
    </li>
    <li class="bg-white shadow-sm shadow-gray-500 rounded p-1">
      <img src="https://www.dangquangwatch.vn/assets/img/qq_logo.png" alt="atlantic_logo">
    </li>

    <li class="bg-white shadow-sm shadow-gray-500 rounded p-1">
      <img src="https://www.dangquangwatch.vn/view/pic/Brunosohne.jpg" alt="atlantic_logo">
    </li>
    <li class="bg-white shadow-sm shadow-gray-500 rounded p-1">
      <img src="https://www.dangquangwatch.vn/view/pic/orient_logo.png" alt="atlantic_logo">
    </li>
    <li class="bg-white shadow-sm shadow-gray-500 rounded p-1">
      <img src="https://www.dangquangwatch.vn/assets/img/pa_logo.png" alt="atlantic_logo">
    </li>
    <li class="bg-white shadow-sm shadow-gray-500 rounded p-1">
      <img src="https://www.dangquangwatch.vn/assets/img/dm_logo.png" alt="atlantic_logo">
    </li>
    <li class="bg-white shadow-sm shadow-gray-500 rounded p-1">
      <img src="https://www.dangquangwatch.vn/view/pic/tsar_logo.png" alt="atlantic_logo">
    </li>

    <li class="bg-white shadow-sm shadow-gray-500 rounded p-1">
      <img src="https://www.dangquangwatch.vn/assets/img/ct_logo.png" alt="atlantic_logo">
    </li>
    <li class="bg-white shadow-sm shadow-gray-500 rounded p-1">
      <img src="https://www.dangquangwatch.vn/assets/img/casio_logo.png" alt="atlantic_logo">
    </li>
    <li class="bg-white shadow-sm shadow-gray-500 rounded p-1">
      <img src="https://www.dangquangwatch.vn/view/pic/srwatch_logo.png" alt="atlantic_logo">
    </li>
    <li class="bg-white shadow-sm shadow-gray-500 rounded p-1">
      <img src="https://www.dangquangwatch.vn/view/pic/seiko_logo.png" alt="atlantic_logo">
    </li>
  </ul>
</section>