<!-- CAC LOAI DONG HO & KINH -->
<ul class="w-full py-3 gap-2 grid md:grid-cols-4 grid-cols-2" th:fragment="categories">
  <li
    class="shadow-sm hover:shadow-md transition-all ease-in duration-75 hover:shadow-black w-full h-full bg-white rounded-lg">
    <a href="/" class="flex items-center gap-2 py-3 pl-4">
      <img src="/images/dh_nam.jpg" class="block rounded-full sm:w-[62px] sm:h-[62px] w-9 h-9" alt="dong ho nam">
      <p class="font-bold sm:text-base text-xs">
        Đồng hồ nam
      </p>
    </a>
  </li>
  <li
    class="shadow-sm hover:shadow-md transition-all ease-in duration-75 hover:shadow-black w-full h-full bg-white rounded-lg">
    <a href="/" class="flex items-center gap-2 py-3 pl-4">
      <img src="/images/dong_ho_nu.jpg" class="block rounded-full sm:w-[62px] sm:h-[62px] w-9 h-9" alt="dong ho nam">
      <p class="font-bold sm:text-base text-xs">
        Đồng hồ nữ
      </p>
    </a>
  </li>
  <li
    class="shadow-sm hover:shadow-md transition-all ease-in duration-75 hover:shadow-black w-full h-full bg-white rounded-lg">
    <a href="/" class="flex items-center gap-2 py-3 pl-4">
      <img src="/images/certificate.png" class="block rounded-full sm:w-[62px] sm:h-[62px] w-9 h-9" alt="dong ho nam">
      <p class="font-bold sm:text-base text-xs">
        Đồng hồ Thụy Sĩ
      </p>
    </a>
  </li>
  <li
    class="shadow-sm hover:shadow-md transition-all ease-in duration-75 hover:shadow-black w-full h-full bg-white rounded-lg">
    <a href="/" class="flex items-center gap-2 py-3 pl-4">
      <img src="/images/kinh_mat_thoi_trang.jpg" class="block rounded-full sm:w-[62px] sm:h-[62px] w-9 h-9" alt="dong ho nam">
      <p class="font-bold sm:text-base text-xs">
        Kính mắt thời trang
      </p>
    </a>
  </li>
</ul>