<section class="relative w-full flex md:flex-row flex-col gap-2 items-center mb-4" th:fragment="citizen">
  <div class="flex-shrink-0 md:w-[20%] sm:mx-0 mx-auto w-max overflow-visible">
    <a href="/dongho?search=citizen">
      <img src="https://www.dangquangwatch.vn/assets/img/CT_C01.jpg" class="w-[30vw] min-w-[310px] block rounded-md"
        alt="citizen model">
    </a>
  </div>
  <div class="relative w-[80%]">
    <ul class="flex gap-1 mb-[10px]">
      <li class="bg-yellow-400 font-bold rounded-full py-1 px-3 brandname relative">
        <a href="/dongho?search=citizen">Citizen</a>
      </li>
      <li class="bg-white hover:bg-slate-200 transition-all ease-in duration-75 rounded-full py-1 px-3">
        <a href="/dongho?search=citizen">Nam</a>
      </li>
      <li class="bg-white hover:bg-slate-200 transition-all ease-in duration-75 rounded-full py-1 px-3">
        <a href="/dongho?search=citizen">Nữ</a>
      </li>
      <li class="bg-white hover:bg-slate-200 transition-all ease-in duration-75 rounded-full py-1 px-3">
        <a href="/dongho?search=citizen">Cơ tự động</a>
      </li>
    </ul>
    <div id="citizen_container" class="w-full overflow-hidden bg-white rounded-md">
      <section id="citizen" class="flex w-max overflow-hidden transition-transform duration-100 ease-in">
        <div class="w-[220px] bg-white rounded overflow-hidden p-2" th:each="dongho : ${citizen}">
          <img th:src="${dongho.getFirstImageUrl()}" class="w-full aspect-square rounded" alt="anhdongho">
          <div class="p-2 flex flex-col gap-2">
            <a class="hover:text-yellow-400 text-sm h-20 overflow-hidden"
              th:href="@{'/dongho/' + ${dongho.getMadongho()}}"
              th:text="@{${dongho.getTendongho()} + ' - Đồng hồ ' + ${dongho.getGioitinh()} + ' -  Size mặt ' + ${dongho.getDuongkinh()} + 'mm - ' + ${dongho.getChatlieu()} + ' - ' + ${dongho.getBomay()} + ' - Chịu nước ' + ${dongho.getChongnuoc()} + ' ATM'}">
            </a>
            <p class="font-bold text-red-600" th:text="@{${dongho.getGiatienFormatted()} + 'đ'}"></p>
          </div>
        </div>
      </section>
    </div>

    <button id="citizen-right"
      class="absolute top-40 -right-2 px-1 py-3 md:text-3xl text-lg md:opacity-25 md:hover:opacity-100 bg-yellow-400">
      🡺
    </button>
    <button id="citizen-left"
      class="absolute top-40 -left-2 px-1 py-3 md:text-3xl text-lg md:opacity-25 md:hover:opacity-100 bg-yellow-400">
      🡸
    </button>
    <script>
      let posX_citizen = 0;
      const step_citizen = -220;
      const min_citizen = 0;
      const citizen = document.getElementById("citizen");
      const citizenContainer = document.getElementById("citizen_container");
      const max_citizen = ((Math.floor(citizen.offsetWidth / 220)) - Math.floor(citizenContainer.offsetWidth / 220)) * -220;

      document.getElementById("citizen-right").addEventListener("click", () => {
        if ((posX_citizen + step_citizen) >= max_citizen) {
          posX_citizen += step_citizen;
          citizen.style.transform = "translateX(" + posX_citizen + "px)";
        }
      });

      document.getElementById("citizen-left").addEventListener("click", () => {
        if ((posX_citizen - step_citizen) <= min_citizen) {
          posX_citizen -= step_citizen;
          citizen.style.transform = "translateX(" + (posX_citizen) + "px)";
        }
      });
    </script>
  </div>
</section>