<div th:fragment="hotro" class="w-screen mx-auto h-full bg-white p-4 my-4">
  <section class="w-full xl:max-w-[1215px] max-w-[1021px] mx-auto flex md:flex-row flex-col items-center gap-4">
    <div class="flex items-center flex-shrink-0">
      <img src="/images/support.png" alt="support" class="block w-24 h-24 mr-4">
      <ul class="pl-4 border-l border-slate-900">
        <li>
          <span class="font-bold">Tổng đài hỗ trợ </span>(8:00 - 21h00)
        </li>
        <li>
          Tư vấn: <span class="text-xl text-red-500">1800.6005</span>
        </li>
        <li>
          Gọi mua hàng: <span class="text-lg font-medium">098.668.1189</span>
        </li>
        <li>
          Gọi mua hàng: <span class="text-lg font-medium">0867.51.5555</span>
        </li>
      </ul>
    </div>

    <div class="flex items-center">
      <div class="text-sm w-[50%]">
        <h3 class="font-bold">Ý kiến khách hàng</h3>
        <div class="flex gap-2 items-center">
          <img src="https://www.dangquangwatch.vn/view/pic/don-van-hau-tai-dang-quang-watch-20235.jpg" class="w-28 h-28 block" alt="doanvanhau">
          <div>
            <h3 class="font-bold">Cầu thủ: Đoàn Văn Hậu</h3>
            <p>Đăng Quang Watch là nơi rất đẳng cấp, sang trọng nhiều cửa hàng rộng rãi, nhân viên rất tận tình chăm sóc khách hàng tốt.</p>
          </div>
        </div>
      </div>
  
      <div class="text-sm w-[50%]">
        <h3 class="font-bold">Ý kiến khách hàng</h3>
        <div class="flex gap-2 items-center">
          <img src="https://www.dangquangwatch.vn/view/pic/hoang-kim-ngo-tai-dang-quang-202351.jpg" class="w-28 h-28 block" alt="hoangkimngo">
          <div>
            <h3 class="font-bold">Diễn viên: Hoàng Kim Ngọc</h3>
            <p>Khoe với mọi người Ngọc vừa mua một chiếc đồng hồ mới siêu đẹp để đi tặng luôn và chiếc đồng hồ này Ngọc mua ở Đăng Quang Watch đấy.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>