<section class="relative w-full flex md:flex-row flex-col gap-2 items-center mb-4" th:fragment="philippeauguste">
  <div class="flex-shrink-0 md:w-[20%] sm:h-[445px] sm:mx-0 mx-auto w-max overflow-visible">
    <a href="/dongho?search=philippeauguste">
      <img src="https://www.dangquangwatch.vn/view/pic/PA-20231.jpg" class="w-[30vw] min-w-[310px] block rounded-md"
        alt="philippeauguste model">
    </a>
  </div>
  <div class="relative w-[80%]">
    <ul class="flex gap-1 mb-[10px]">
      <li class="bg-yellow-400 font-bold rounded-full py-1 px-3 brandname relative">
        <a href="/dongho?search=philippeauguste">Philippe Auguste</a>
      </li>
      <li class="bg-white hover:bg-slate-200 transition-all ease-in duration-75 rounded-full py-1 px-3">
        <a href="/dongho?search=philippeauguste">Dây da</a>
      </li>
      <li class="bg-white hover:bg-slate-200 transition-all ease-in duration-75 rounded-full py-1 px-3">
        <a href="/dongho?search=philippeauguste">Cơ tự động</a>
      </li>
    </ul>
    <div id="philippeauguste_container" class="w-full overflow-hidden bg-white rounded-md">
      <section id="philippeauguste" class="flex w-max overflow-hidden transition-transform duration-100 ease-in">
        <div class="w-[220px] bg-white rounded overflow-hidden p-2" th:each="dongho : ${philippeauguste}">
          <img th:src="${dongho.getFirstImageUrl()}" class="w-full aspect-square rounded" alt="anhdongho">
          <div class="p-2 flex flex-col gap-2">
            <a class="hover:text-yellow-400 text-sm h-20 overflow-hidden"
              th:href="@{'/dongho/' + ${dongho.getMadongho()}}"
              th:text="@{${dongho.getTendongho()} + ' - Đồng hồ ' + ${dongho.getGioitinh()} + ' -  Size mặt ' + ${dongho.getDuongkinh()} + 'mm - ' + ${dongho.getChatlieu()} + ' - ' + ${dongho.getBomay()} + ' - Chịu nước ' + ${dongho.getChongnuoc()} + ' ATM'}">
            </a>
            <p class="font-bold text-red-600" th:text="@{${dongho.getGiatienFormatted()} + 'đ'}"></p>
          </div>
        </div>
      </section>
    </div>

    <button id="philippeauguste-right" class="absolute top-40 -right-2 px-1 py-3 md:text-3xl text-lg md:opacity-25 md:hover:opacity-100 bg-yellow-400">
      🡺
    </button>
    <button id="philippeauguste-left" class="absolute top-40 -left-2 px-1 py-3 md:text-3xl text-lg md:opacity-25 md:hover:opacity-100 bg-yellow-400">
      🡸
    </button>
    <script>
      let posX_philippeauguste = 0;
      const step_philippeauguste = -220;
      const min_philippeauguste = 0;
      const philippeauguste = document.getElementById("philippeauguste");
      const philippeaugusteContainer = document.getElementById("philippeauguste_container");
      const max_philippeauguste = ((Math.round(philippeauguste.offsetWidth / 220)) - Math.round(philippeaugusteContainer.offsetWidth / 220)) * -220;

      document.getElementById("philippeauguste-right").addEventListener("click", () => {
        if ((posX_philippeauguste + step_philippeauguste) >= max_philippeauguste) {
          posX_philippeauguste += step_philippeauguste;
        } else {
          posX_philippeauguste =  -philippeauguste.offsetWidth + philippeaugusteContainer.offsetWidth;
        }
        philippeauguste.style.transform = "translateX(" + posX_philippeauguste + "px)";
      });

      document.getElementById("philippeauguste-left").addEventListener("click", () => {
        if ((posX_philippeauguste - step_philippeauguste) <= min_philippeauguste) {
          posX_philippeauguste -= step_philippeauguste;
        } else {
          posX_philippeauguste = 0;
        }
        philippeauguste.style.transform = "translateX(" + (posX_philippeauguste) + "px)";
      });
    </script>
  </div>
</section>