<section class="sticky top-[70px] z-20 w-full box-content bg-white shadow-sm overflow-visible" th:fragment="productsbar">
  <div class="relative xl:pl-[230px] w-full xl:max-w-[1215px] max-w-[1021px] mx-auto flex items-center h-[45px]">
    <ul class="absolute top-0 left-0 z-10 w-[225px] h-full bg-white xl:block hidden">
      <div class="text-white font-medium flex items-center h-[45px] text-sm w-full px-4 bg-slate-700">
        <img src="/svg/menu.svg" alt="menu">
        <p>DANH MỤC SẢN PHẨM</p>
      </div>
      <li class="bg-white h-[34.5px] flex items-center text-black hover:text-yellow-400 hover:bg-black border-b border-b-black px-4">
        <a href="/">Đồng hồ Philippe Auguste</a>
      </li>
      <li class="bg-white h-[34.5px] flex items-center text-black hover:text-yellow-400 hover:bg-black border-b border-b-black px-4">
        <a href="/">Đồng hồ Epos Swiss</a>
      </li>
      <li class="bg-white h-[34.5px] flex items-center text-black hover:text-yellow-400 hover:bg-black border-b border-b-black px-4">
        <a href="/">Đồng hồ Atlantic Swiss</a>
      </li>
      <li class="bg-white h-[34.5px] flex items-center text-black hover:text-yellow-400 hover:bg-black border-b border-b-black px-4">
        <a href="/">Đồng hồ Diamond D</a>
      </li>
      <li class="bg-white h-[34.5px] flex items-center text-black hover:text-yellow-400 hover:bg-black border-b border-b-black px-4">
        <a href="/">Đồng hồ Jacques Lemans</a>
      </li>
      <li class="bg-white h-[34.5px] flex items-center text-black hover:text-yellow-400 hover:bg-black border-b border-b-black px-4">
        <a href="/">Đồng hồ Tsar Bomba</a>
      </li>
      <li class="bg-white h-[34.5px] flex items-center text-black hover:text-yellow-400 hover:bg-black border-b border-b-black px-4">
        <a href="/">Đồng hồ Aries Gold</a>
      </li>
      <li class="bg-white h-[34.5px] flex items-center text-black hover:text-yellow-400 hover:bg-black border-b border-b-black px-4">
        <a href="/">Đồng hồ Citizen</a>
      </li>
      <li class="bg-white h-[34.5px] flex items-center text-black hover:text-yellow-400 hover:bg-black border-b border-b-black px-4">
        <a href="/">Đồng hồ Casio</a>
      </li>
      <li class="bg-white h-[34.5px] flex items-center text-black hover:text-yellow-400 hover:bg-black border-b border-b-black px-4">
        <a href="/">Đồng hồ Q&Q</a>
      </li>
      <li class="bg-white h-[34.5px] flex items-center text-black hover:text-yellow-400 hover:bg-black border-b border-b-black px-4">
        <a href="/">Đồng hồ Orient</a>
      </li>
      <li class="bg-white h-[34.5px] flex items-center text-black hover:text-yellow-400 hover:bg-black border-b border-b-black px-4">
        <a href="/">Đồng hồ SR Watch</a>
      </li>
    </ul>
    <ul class="h-[30px] flex items-center md:text-sm text-xs">
      <li class="md:px-2 px-1 flex gap-1 items-center">
        <a href="/dongho">ĐỒNG HỒ</a>
        <img src="/images/dongho.png" class="w-[22px] h-[30px]" alt="Đồng hồ">
      </li>
      <li class="h-[18px] w-[1px] mx-1 bg-slate-700"></li>
      <li class="md:px-2 px-1 flex gap-1 items-center">
        <a href="/kinhmat">KÍNH MẮT</a>
        <img src="/images/kinhmat.png" class="w-[42px] h-[18px]" alt="Kính mắt">
      </li>
      <li class="h-[18px] w-[1px] mx-1 bg-slate-700"></li>
      <li class="md:px-2 px-1 flex gap-1 items-center">
        <a href="/phukien">PHỤ KIỆN</a>
        <img src="/images/phukien.png" class="w-[16px] h-[24px]" alt="Phụ kiện">
      </li>
      <li class="h-[18px] w-[1px] mx-1 bg-slate-700"></li>
      <li class="md:px-2 px-1 flex gap-1 items-center">
        <a href="/butky">BÚT KÝ</a>
        <img src="/images/butky.png" class="w-[27px] h-[27px]" alt="Bút ký">
      </li>
      <li class="h-[18px] w-[1px] mx-1 bg-slate-700"></li>
      <li class="md:px-2 px-1 flex gap-1 items-center">
        <a href="/trangsuc">TRANG SỨC</a>
        <img src="/images/bracelet.png" class="w-[27px] h-[27px] ml-[2px]" alt="Trang sức">
      </li>
    </ul>

    <section class="hidden md:flex ml-auto h-[35px] bg-yellow-400 font-medium rounded overflow-hidden items-center">
      <a href="/dongho/limited" class="pl-5 pr-1">
        ĐỒNG HỒ
      </a>
      <a href="/dongho/limited" class="text-white bg-yellow-900 px-5 flex items-center gap-2 h-[35px]" style="clip-path: polygon(13% 0, 100% 0, 100% 100%, 0% 100%);">
        <img src="/images/bell.png" class="w-[16px] h-[22px]" alt="bell">
        LIMITED
      </a>
    </section>
  </div>
</section>